{% set value = (value is null ? field.default : value) %}
{% set siblings = data.parent.children.visible %}

<<<<<<< HEAD

=======
>>>>>>> update grav cms
<div class="form-field grid pure-g">
    <div class="form-label block size-1-3 pure-u-1-3">
        <label>
            {% if field.help %}
            <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e|tu }}">{{ field.label|tu }}</span>
            {% else %}
            {{ field.label|tu }}
            {% endif %}
            {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
        </label>
    </div>
    <div class="form-data block size-2-3 pure-u-2-3">
        <div class="form-order-wrapper {{ field.size }}">
<<<<<<< HEAD
            <input type="hidden" data-order name="{{ (scope ~ field.name)|fieldName }}" value="{{ value }}" />
            {% if data.parent.header.content.items %}
                <span class="note">Parent setting order, ordering disabled</span>
            {% elseif not data.visible %}
                <span class="note">Page is not visible, ordering disabled</span>
=======
            {% set canReorder = not data.parent.header.content.items and data.visible %}
            <input
                type="hidden"
                data-order
                {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                name="{{ (scope ~ field.name)|fieldName }}"
                value="{{ canReorder ? value : '' }}" />
            {% if data.parent.header.content.items %}
                <span class="note">{{ "PLUGIN_ADMIN.ORDERING_DISABLED_BECAUSE_PARENT_SETTING_ORDER"|tu }}</span>
            {% elseif not data.visible %}
                <span class="note">{{ "PLUGIN_ADMIN.ORDERING_DISABLED_BECAUSE_PAGE_NOT_VISIBLE"|tu }}</span>
>>>>>>> update grav cms
            {% endif %}

            {% if siblings|length < 200 %}
				<ul id="ordering" class="{{ field.classes }}">
			    {% for page in siblings %}
<<<<<<< HEAD
					<li class="{% if page.order  == value %}drag-handle{% else %}ignore{% endif %}" data-id="{{ page.slug }}">{{ page.title|e }}</li>
                {% endfor %}
				</ul>
			{% else %}
                <span class="note">Ordering via the admin is unsupported because there are more than 200 siblings</span>
			{% endif %}
        </div>
    </div>
    <script>
        jQuery(function(){
            var el = jQuery('#ordering');
            new Sortable(el[0], {
                filter: ".ignore",
                onUpdate: function(evt){
                    var index = el.children().index(jQuery(evt.item)) + 1;
                    jQuery('[data-order]').val(index);
                }
                // draggable: ".drag-handle"
            });
        });
    </script>
=======
					<li class="{% if page.order  == value and canReorder %}drag-handle{% else %}ignore{% endif %}" data-id="{{ page.slug }}">{{ page.title|e }}</li>
                {% endfor %}
				</ul>
			{% else %}
                <span class="note">{{ "PLUGIN_ADMIN.ORDERING_DISABLED_BECAUSE_TOO_MANY_SIBLINGS"|tu }}</span>
			{% endif %}
        </div>
    </div>
>>>>>>> update grav cms
</div>
