{% extends "forms/field.html.twig" %}

{% block input %}
<<<<<<< HEAD
    <script src="https://www.google.com/recaptcha/api.js?onload=captchaOnloadCallback&render=explicit"
        async defer>
    </script>

    <script>
        var captchaOnloadCallback = function captchaOnloadCallback() {
            grecaptcha.render('g-recaptcha', {
                'sitekey': "{{field.recatpcha_site_key}}",
=======
    <script>
        var captchaOnloadCallback = function captchaOnloadCallback() {
            grecaptcha.render('g-recaptcha', {
                'sitekey': "{{field.recaptcha_site_key ?: field.recatpcha_site_key ?: config.plugins.form.recaptcha.site_key }}",
>>>>>>> update grav cms
                'callback': captchaValidatedCallback,
                'expired-callback': captchaExpiredCallback
            });
        };

        var captchaValidatedCallback = function captchaValidatedCallback() {

        };

        var captchaExpiredCallback = function captchaExpiredCallback() {
            grecaptcha.reset();
        };
    </script>
<<<<<<< HEAD

=======
    <script src="https://www.google.com/recaptcha/api.js?onload=captchaOnloadCallback&render=explicit&hl={{ grav.language.language }}"
        async defer>
    </script>
>>>>>>> update grav cms
    <div class="g-recaptcha" id="g-recaptcha"></div>
{% endblock %}
