<<<<<<< HEAD
{% set taxonomies = (taxonomies is null ? admin.data('site').taxonomies : taxonomies) %}
=======
{% set taxonomies = (taxonomies is null ? admin.data('config/site').taxonomies : taxonomies) %}
>>>>>>> update grav cms
{% set parentname = field.name %}

{% for name in taxonomies %}

    {% set value = array(data.value('header.taxonomy.' ~ name)|default([])) %}
    {% set sub_taxonomies = attribute(grav.taxonomy.taxonomy, name)|default([])|keys %}
<<<<<<< HEAD
    {% set list = []|merge(sub_taxonomies)|merge(value) %}
=======
    {% set list = []|merge(sub_taxonomies)|merge(value)|array_unique %}
>>>>>>> update grav cms

    {% set field = {
        type: 'select',
        classes: 'fancy create',
        label: name|capitalize,
        name: parentname ~ '.' ~ name,
        multiple: true,
        options: list,
<<<<<<< HEAD
=======
        style: field.style,
>>>>>>> update grav cms
        selectize: {
            create: true
        }
    } %}

    {% include ['forms/fields/select/select.html.twig'] %}
{% endfor %}
