<<<<<<< HEAD
<input data-grav-field="hidden" data-grav-disabled="false" type="hidden" class="input" name="{{ (scope ~ field.name)|fieldName }}" value="{{ blueprints.name }}" />
=======
<input
    data-grav-field="hidden"
    data-grav-disabled="false"
    type="hidden"
    class="input"
    {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
    name="{{ (scope ~ field.name)|fieldName }}"
    value="{{ blueprints.name }}" />
>>>>>>> update grav cms
