{% extends "forms/field.html.twig" %}

<<<<<<< HEAD
=======
{% block prepend %}
{% if field.prepend %}
    <div class="form-input-addon form-input-prepend">
        {% if grav.twig.twig.filters['tu'] is defined %}
            {{- field.prepend|tu|raw -}}
        {% else %}
            {{- field.prepend|t|raw -}}
        {% endif %}
    </div>
{% endif %}
{% endblock %}

>>>>>>> update grav cms
{% block input_attributes %}
    type="text"
    {{ parent() }}
{% endblock %}
<<<<<<< HEAD
=======

{% block append %}
    {% if field.append %}
        <div class="form-input-addon form-input-append">
            {% if grav.twig.twig.filters['tu'] is defined %}
                {{- field.append|tu|raw -}}
            {% else %}
                {{- field.append|t|raw -}}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block input %}
{% if field.prepend or field.append %}
    {% set field = field|merge({'wrapper_classes': 'form-input-addon-wrapper'}) %}
{% endif %}
{{ parent() }}
{% endblock %}
>>>>>>> update grav cms
