/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	#navigation .navbar-right li a {
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-text h3 {
		font-size:22px;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	#navigation .navbar-right li a {
		padding-left:5px;
		padding-right:5px;
		line-height:55px;
		font-size:13px;
	}
	.member-image img {
		width:100%;
	}
	.member {
		margin-bottom:50px;
	}
	.social-icons ul li {
		margin-right:0;
	}
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size:14px;
	}
	h2 {
		font-size:20px;
	}
	.parallax-content {
		padding-top:85px;
	}
	/*Navigation*/
	.navbar-brand {
		height: 65px;
		padding-left: 15px;
		padding-top: 0;
	}
	#navigation .navbar-right li a {
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
	}
	.navbar-collapse {
		border-top:1px solid #f5f5f5;
	}
	/*Home Carousel*/
	.carousel-caption {
		font-size:16px;
		margin-top:-110px;
	}
	.carousel-caption h1 {
		font-size:20px;
	}
	.carousel-caption h2 {
		font-size:36px;
	}
	/*About US*/
	.section-title h2 {
		font-size:24px;
	}
	.about-text h3 {
		font-size:20px;
	}
	.parallax-section,
	.contact-info ul li {
		font-size:16px;
	}
	/*Promotion*/
	#promo-two h3 {
		font-size:35px;
	}
	#promo-two h4,
	#testimonial,
	.contact-info {
		font-size:14px;
	}
	#promo-two .col-sm-3 {
		margin-bottom:50px;
	}
	/*Testimonial*/
	.testimony-left, .testimony-right {
		top:inherit;
		bottom:30px;
	}
	.testimony-left {
		left: 43%;
	}
	.testimony-right {
		right: 43%;
	}
	/*Team-members*/
	.team-members .col-sm-6 {
		width:50%;
		float:left;
	}
	.member-image img {
		width:100%;
	}
	.member {
		margin-bottom:45px;
	}
	/*Contact*/
	.contact-info {
		padding:20px 30px;
	}
	#footer a.to-top {
		right:15px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.parallax-content {
		padding-top:80px;
	}
	.social-icons ul li {
		margin-right:-3px;
	}
	.testimony-left {
		left: 40%;
	}
	.testimony-right {
		right: 40%;
	}
	.team-members .col-sm-6 {
		width:100%;
		float:none;
	}
}
