@font-face {
  font-family: "aleo";
  src: url("../fonts/aleo/Aleo-Regular.otf");
}

/*========================
=======Typography=========
==========================*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight:300;
  color: #000;
  background-color: #fff;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;
  background: transparent;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color:#fff;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
 font-weight:600;
}

.padding-top {
	padding-top:90px;
}

.padding-bottom{
	padding-bottom:110px;
}

.section-title {
	margin-bottom: 80px;
	overflow: hidden;
	padding-bottom: 32px;
	position: relative;
}

.section-title:after {
	position:absolute;
	content:"";
	left:50%;
	bottom:0;
	height:2px;
	width:56px;
	background-color:#d9d9d9;
	margin-left:-28px;
}

.section-title h2 {
<<<<<<< HEAD
	font-size: 36px;
	margin-bottom: 27px;
	text-transform: uppercase;
=======
	font-size: 24px;
	margin-bottom: 27px;
	/*text-transform: uppercase;*/
>>>>>>> update grav cms
}

.color-overlay {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.4);
	z-index:1;
}

.parallax-section {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	min-height: 350px;
	color: #fff;
	text-transform: uppercase;
	font-size:18px;
}

.parallax-content {
	position:relative;
	padding-bottom: 100px;
	padding-top: 80px;
}

.off-white {
	background-color:#f5f5f5;
}

.navbar-toggle {
	border:1px solid #df392e;
	margin-top:15px;
}

.navbar-toggle .icon-bar {
	background-color: #df392e;
}

.btn-primary {
	border: 1px solid #f5f5f5;
	background-color:transparent;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	margin-top: 25px;
	padding: 12px 45px;
}

.btn-primary:hover {
	background-color:#db2429;
	border-color:#db2429;
}


/*========================
========Home CSS==========
==========================*/

/*Home CSS*/

#logo {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ie-transform: translateX(-50%);
	z-index: 1;
}

#home {
	height: 100vh;
}

#home-intro .item {
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
}

.carousel-caption {
	left:15px;
	right:15px;
	top:50%;
	margin-top:-150px;
	text-align:center;
<<<<<<< HEAD
	text-transform: uppercase;
=======
	/*text-transform: uppercase;*/
>>>>>>> update grav cms
	font-size:24px;
	color:#fff;
	text-shadow:none;
}

.carousel-caption h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom:0;
}

.carousel-caption h2 {
<<<<<<< HEAD
	font-size:92px;
	font-weight:700;
	letter-spacing:0;
	margin-top:12px;
=======
	font-size:36px;
	font-weight:700;
	letter-spacing:0;
	margin-top:62px;
>>>>>>> update grav cms
}

.carousel-caption > p {
	letter-spacing: 8px;
	text-shadow: inherit;
}

.carousel-caption h2 span {
	color:#df392e
}

.mouse-icon {
	position: absolute;
	height: 50px;
	width: 30px;
	bottom: 10%;
	left: 50%;
	border: 2px solid #fff;
	border-radius: 15px;
	cursor: pointer;
	display: block;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ie-transform: translateX(-50%);
	z-index:15;
}

.mouse-icon .wheel {
	position: relative;
	width: 4px;
	height: 10px;
	top: 5px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.mouse-icon .fa-angle-down {
	font-size: 24px;
	margin-left: 6px;
	margin-top: 38px;
}

.mouse-icon .wheel,
.mouse-icon .fa-angle-down {
	-webkit-animation-name:drop;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	animation-name:drop;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-play-state:running;
}

@-webkit-keyframes drop	{
	0%   { top:5px;opacity: 0;}
	30% { top:10px;opacity: 1;}
	100% { top:25px;opacity: 0;}
}

@keyframes drop	{
	0%   { top:5px;opacity: 0;}
	30% { top:10px;opacity: 1;}
	100% { top:25px;opacity: 0;}
}


/*Navigation CSS*/
#navigation .navbar,
#navigation .navbar-fixed-top   {
	margin-bottom:0;
	background-color:#fff;
	border-bottom:1px solid #f5f5f5;
}

.navbar-brand h1 {
	margin-top:12px;
}

#navigation .navbar-right li a {
	color:#000;
	font-size:14px;
	font-weight:600;
	line-height:68px;
	height: 100%;
	text-transform:uppercase;
	position:relative;
	padding-left: 19px;
	padding-right: 19px;
}

#navigation .navbar-right li a.active,
#navigation .navbar-right li a:hover,
#navigation .navbar-right li a:focus,
#navigation .navbar-right li.active a  {
	color:#df392e;
}


/*=========================
========About Us CSS========
===========================*/

#about-us {
	padding-bottom:40px;
}

.bout-us-image {
	display:inline-block;
	margin-bottom:80px;
}

.bout-us-image img {
	width:100%;
}

.about-content {
	margin-bottom:70px;
}

.about-icon {
	display:inline-block;
	background-color: transparent;
	width:60px;
	height: 60px;
	line-height: 56px;
	margin-bottom:15px;
	border-radius: 4px;
	color: #333333;
	font-size: 18px;
	text-align:center;
	border:1px solid #333;
	position:relative;

}

.about-text h3 {
	font-size:24px;
	color:#000;
	margin-bottom:18px;
}

/*=========================
==parallax promo-One CSS===
===========================*/

#promo-one  {
	background-image: url("../img/industry.jpg");
}

.parallax-section .container {
	position:relative;
	z-index:5;
}

#promo-one  p {
	letter-spacing: 5px;
	margin-top:15px
}

#promo-one .color-overlay {
	min-height: 350px;
}

/*=========================
==parallax promo-two CSS===
===========================*/

#promo-two {
	background-image: url("../img/cover.jpg");
	margin-top:40px;
}

#promo-two .parallax-content {
	padding-top:105px;
}

#promo-two i {
	font-size:30px;
}

#promo-two h3 {
	font-size:60px;
	margin-top:8px;
}

#promo-two h4 {
	font-size:18px;
	font-weight:400;
}

/*=========================
=====Testimonials CSS======
===========================*/

#testimonial {
	background-image: url("../img/technical-647480_1920.jpg");
	font-size:16px;
	font-weight:300;
	text-transform:inherit
}

#testimonial .parallax-content {
	padding-bottom: 105px;
	padding-top: 115px;
}

#testimonial-carousel img {
	display:inline-block;
	height:80px;
	width:80px;
	margin-bottom:25px;
}

#testimonial-carousel p span {
	display:block;
	font-weight:600;
	font-style:italic;
	margin-top:15px;
}

.testimony-left,
.testimony-right,
.twitter-left-control,
.twitter-right-control {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	height: 30px;
	line-height: 26px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 30px;
	z-index: 15;
}

.twitter-left-control i,
.testimony-left i {
	margin-left:-2px;
}

.twitter-right-control i,
.testimony-right {
	margin-right:-2px;
}

.testimony-left,
.twitter-left-control {
	left:40px
}

.testimony-right,
.twitter-right-control {
	right:40px
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.testimony-left:hover,
.testimony-right:hover {
	background-color:#db2429;
	border-color:#db2429
}

/*=========================
======Team Member CSS======
===========================*/
.member-info {
	font-size:12px;
	color:#000;
	font-weight:300;
}

.member-info h4 {
	font-size:18px;
	font-weight:400;
	text-transform:uppercase;
	margin-top:35px;
}

.member .member-image {
	position:relative;
	overflow:hidden;
}

.member-overlay {
	position:absolute;
	left:0;
	bottom:0;
	height:100%;
	width:100%;
	background-color:rgba(0, 0, 0, 0.8);
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/*=========================
=======Contact us CSS======
===========================*/

#contact-us {
	background-image: url("../img/office-620822_1920.jpg");
	text-transform:inherit;
}

#contact-us .parallax-content {
	padding-bottom: 85px;
	padding-top: 95px;
}

.form-control {
	background-color: transparent;
	background-image: none;
	border: 1px solid #6a6a6a;
	border-radius: 0;
    color: #fff;
	height: 48px;
}

.form-control:focus {
	box-shadow: none;
	border-color:#db2429;
}

.btn.btn-submit {
	background-color: #db2429;
	border-radius: 0;
	display: block;
	font-weight: 600;
	margin-top: 47px;
	padding: 15px;
	width: 100%;
}

.form-group {
	margin-bottom: 30px;
}

.contact-info {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  font-weight: 400;
  padding: 20px 45px;
}

.contact-info h3 {
	font-size:24px;
	text-transform:uppercase;
	margin-bottom:25px;
}

.contact-info ul {
	margin-bottom:25px;
}

.contact-info ul li {
	margin-bottom:10px;
	font-size:18px;
}

.contact-info ul li i {
	background-color: #db2429;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
	text-align: center;
	width: 35px;
	font-size:14px;
	border-radius:5px;
}

.social-icons {
	margin-top:35px;
}

.social-icons h3 {}

.social-icons ul  {
	margin-bottom:15px;
}

.social-icons ul li {
	display:inline-block;
	margin-right:5px;
}

.social-icons ul li i.fa-facebook{
	background-color:#3b5997;
}
.social-icons ul li i.fa-twitter{
	background-color:#29c5f6;
}
.social-icons ul li i.fa-linkedin{
	background-color:#016dbf;
}

.social-icons ul li i{
	-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
}

.social-icons ul li i:hover {
	-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}
/*=========================
========Partners CSS========
===========================*/
.middle {
	float: none;
}

.section-image {
	display: inline-block;
}

.section-image img {
	width: 100%;
}

/*=========================
========Footer CSS========
===========================*/

#footer {
	background-color:#000;
	color:#fff;
	padding-top:30px;
	padding-bottom:20px;
	font-weight:400;
	position:relative;
}

#footer a {
	font-weight:700;
	color:#db2429
}

#footer a.to-top {
	position:absolute;
	right:50px;
	bottom:15px;
	height:48px;
	width:48px;
	line-height:48px;
	font-size:18px;
	background-color:#db2429;
	border-radius:5px;
	text-align:center;
	color:#fff;
}

#footer a.to-top:hover,
.btn.btn-submit:hover {
	background-color:#ba2024;
	color:#fff;
}

/*************************
*******Preloader CSS*********
**************************/
.preloader{
  display: table;
  background: #fff;
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#loaderImage {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
}

#canvas {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.mailchimp {
  position: absolute;
  left: -5000px;
}

.form-submit {
	margin-top: 0px !important;
}
