{% set originalValue = originalValue is defined ? originalValue : value %}
<<<<<<< HEAD
=======
{% set toggleableChecked = field.toggleable and (originalValue is not null and originalValue is not empty) %}
{% set isDisabledToggleable = field.toggleable and not toggleableChecked %}
>>>>>>> update grav cms
{% set value = (value is null ? field.default : value) %}
{% set vertical = field.style == 'vertical' %}

{% if field.yaml and value is iterable %}
    {% set value = value|toYaml %}
{% endif %}

{% block field %}
<<<<<<< HEAD
    <div class="form-field grid{% if vertical %} vertical{% endif %}">
        {% block contents %}
            <div class="form-label{% if not vertical %} block size-1-3{% endif %}">
                {% if field.toggleable %}
                    <span class="checkboxes toggleable" data-grav-field="toggleable" data-grav-field-name="{{ field.name|fieldName }}">
                        <input type="checkbox"
                               id="toggleable_{{ field.name }}"
                               {% if originalValue is not null and originalValue is not empty %}value="1"{% endif %}
                               name="toggleable_{{ (scope ~ field.name)|fieldName }}"
                               {% if originalValue is not null and originalValue is not empty %}checked="checked"{% endif %}
=======
    <div class="form-field grid{% if vertical %} vertical{% endif %}{% if field.toggleable %} form-field-toggleable{% endif %}">
        {% block contents %}
            <div class="form-label{% if not vertical %} block size-1-3{% endif %}">
                {% if field.toggleable %}
                    <span class="checkboxes toggleable" data-grav-field="toggleable" data-grav-field-name="{{ (scope ~ field.name)|fieldName }}">
                        <input type="checkbox"
                               id="toggleable_{{ field.name }}"
                               {% if toggleableChecked %}value="1"{% endif %}
                               name="toggleable_{{ (scope ~ field.name)|fieldName }}"
                               {% if toggleableChecked %}checked="checked"{% endif %}
>>>>>>> update grav cms
                        >
                        <label for="toggleable_{{ field.name }}"></label>
                    </span>
                {% endif %}
<<<<<<< HEAD
                <label class="{{ field.toggleable ? 'toggleable' : '' }}">
                {% block label %}
                    {% if field.help %}
                    <span class="hint--bottom" data-hint="{{ field.help|e|tu }}">{{ field.label|tu }}</span>
                    {% else %}
                    {{ field.label|tu }}
=======
                <label{{ (field.toggleable ? ' class="toggleable" for="toggleable_' ~ field.name ~ '"')|raw }}>
                {% block label %}
                    {% if field.help %}
                    <span class="hint--bottom" data-hint="{{ field.help|tu|e('html') }}">{{ field.label|tu|raw }}</span>
                    {% else %}
                    {{ field.label|tu|raw }}
>>>>>>> update grav cms
                    {% endif %}
                    {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
                {% endblock %}
                </label>
            </div>
            <div class="form-data{% if not vertical %} block size-2-3{% endif %}"
                {% block global_attributes %}
                data-grav-field="{{ field.type }}"
<<<<<<< HEAD
                data-grav-disabled="{{ originalValue is null ? 'true' : 'false' }}"
                data-grav-default="{{ field.default|json_encode()|e('html_attr') }}"
=======
                data-grav-disabled="{{ toggleableChecked }}"
                data-grav-default="{{ field.default|json_encode|e('html_attr') }}"
>>>>>>> update grav cms
                {% endblock %}
            >
                {% block group %}
                    {% block input %}
<<<<<<< HEAD
                        <div class="form-input-wrapper {{ field.size }}">
                            <input
                                {# required attribute structures #}
                                name="{{ (scope ~ field.name)|fieldName }}"
                                value="{{ value|e('html_attr')|join(', ') }}"
=======
                        <div class="form-input-wrapper {{ field.size }} {{ field.wrapper_classes }}">
                            {% block prepend %}{% endblock prepend %}
                            <input
                                {# required attribute structures #}
                                name="{{ (scope ~ field.name)|fieldName }}"
                                value="{{ value|join(', ') }}"
>>>>>>> update grav cms
                                {# input attribute structures #}
                                {% block input_attributes %}
                                    {% if field.classes is defined %}class="{{ field.classes }}" {% endif %}
                                    {% if field.id is defined %}id="{{ field.id|e }}" {% endif %}
                                    {% if field.style is defined %}style="{{ field.style|e }}" {% endif %}
<<<<<<< HEAD
                                    {% if field.disabled %}disabled="disabled"{% endif %}
=======
                                    {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
>>>>>>> update grav cms
                                    {% if field.placeholder %}placeholder="{{ field.placeholder|tu }}"{% endif %}
                                    {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
                                    {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
                                    {% if field.readonly in ['on', 'true', 1] %}readonly="readonly"{% endif %}
                                    {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}"{% endif %}
                                    {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                                    {% if field.validate.pattern %}pattern="{{ field.validate.pattern }}"{% endif %}
                                    {% if field.validate.message %}title="{{ field.validate.message|e|tu }}"
                                    {% elseif field.title is defined %}title="{{ field.title|e|tu }}" {% endif %}
                                {% endblock %}
<<<<<<< HEAD
                                />
                        </div>
                    {% endblock %}
                {% endblock %}
=======
                            />
                            {% block append %}{% endblock append %}
                        </div>
                    {% endblock %}
                {% endblock %}
                {% if field.description %}
                    <div class="form-extra-wrapper {{ field.size }} {{ field.wrapper_classes }}">
                        <span class="form-description">{{ field.description|tu|raw }}</span>
                    </div>
                {% endif %}
>>>>>>> update grav cms
            </div>
        {% endblock %}
    </div>
{% endblock %}
