<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			{% include 'partials/metadata.html.twig' %}

			<title>{{ site.title }}</title>
			<link rel="shortcut icon" href="{{ url('theme://img/favicon.ico') }}" />

			{% block stylesheets %}
		        {% do assets.addCss('theme://css/bootstrap.min.css') %}
		        {% do assets.addCss('theme://css/animate.min.css') %}
		        {% do assets.addCss('theme://css/font-awesome.min.css') %}
		        {% do assets.addCss('theme://css/morphext.css') %}
				{% do assets.addCss('theme://css/toastr.min.css') %}
				{% do assets.addCss('theme://css/global.css') %}
				{% do assets.addCss('theme://css/breakpoints.css') %}
				{% do assets.addCss('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,600,700') %}
			{% endblock %}
			{{ assets.css() }}

			{% block javascripts %}
		        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
		            {% do assets.addJs('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js', {group: 'javascripts'}) %}
		            {% do assets.addJs('https://oss.maxcdn.com/respond/1.4.2/respond.min.js', {group: 'javascripts'}) %}
		        {% endif %}
				{% do assets.addJs('theme://js/modernizr.custom.js', {group: 'javascripts'}) %}
		        {{ assets.js('javascripts') }}
		    {% endblock %}
		{% endblock head %}
	</head>
	<body>
		{% block preloader %}
			{% include 'partials/preloader.html.twig' %}
		{% endblock %}

		{% block body %}
			{% block content %}{% endblock %}
		{% endblock %}

		{% block footer %}
			{% include 'partials/footer.html.twig' %}
		{% endblock %}

		{% block bottom %}
			{% do assets.addJs('theme://js/jquery-1.12.0.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/bootstrap.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/jquery.parallax-1.1.3.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/smooth-scroll.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/morphext.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/jquery.vide.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/wow.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/toastr.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/is.min.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/canvas.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/preloader.js', {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/global.js', {group: 'bottom'}) %}
			{% do assets.addJs('//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js', {group: 'bottom'}) %}
		{% endblock %}
		{{ assets.js('bottom') }}
		<script type="text/javascript">
    		window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","theme":"dark-bottom"};
		</script>
	</body>
</html>
