<footer id="footer">
    <div class="container text-center">
        <p>&copy; {{ "now"|date('Y') }} <a href="{{ base_url }}">3dplex.io</a>. All rights reserved.</p>
    </div>
    <a data-scroll href="#home" class="to-top"><i class="fa fa-angle-up"></i></a>
</footer>
