<div id="navigation">
	<div class="navbar" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ base_url }}"><h1><img class="img-responsive" src="{{ url('theme://img/logo_black_small.png') }}" alt="logo"></h1></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
					<li class="scroll active"><a href="#home">Home</a></li>
					<li class="scroll"><a href="#about-us">About Us</a></li>
					<li class="scroll"><a href="#innovation">Innovation</a></li>
					<li class="scroll"><a href="#platform">Platform</a></li>
					<li class="scroll"><a href="#partners">Partners</a></li>
=======
<!--					<li class="scroll active"><a href="#home">Home</a></li>-->
<!--					<li class="scroll"><a href="#about-us">About Us</a></li>-->
<!--					<li class="scroll"><a href="#innovation">Innovation</a></li>-->
<!--					<li class="scroll"><a href="#platform">Platform</a></li>-->
<!--					<li class="scroll"><a href="#partners">Partners</a></li>-->
>>>>>>> update grav cms
					<li class="scroll"><a href="#contact-us">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
