{% extends "forms/field.html.twig" %}

{% block input_attributes %}
    type="email"
<<<<<<< HEAD
=======
    {% if field.multiple in ['on', 'true', 1] %}multiple="multiple"{% endif %}
>>>>>>> update grav cms
    {{ parent() }}
{% endblock %}