{% extends "forms/field.html.twig" %}

{% set originalValue = value %}
{% set value = (value is null ? field.default : value) %}
{% if field.use == 'keys' and field.default %}
    {% set value = field.default|merge(value) %}
{% endif %}

{% block global_attributes %}
    {{ parent() }}
    data-grav-keys="{{ field.use == 'keys' ? 'true' : 'false' }}"
<<<<<<< HEAD
    data-grav-field-name="{{ field.name|fieldName }}"
=======
    data-grav-field-name="{{ (scope ~ field.name)|fieldName }}"
>>>>>>> update grav cms
{% endblock %}

{% block input %}
    {% for key, text in field.options %}

        {% set id = field.id|default(field.name) ~ '-' ~ key %}
        {% set name = field.use == 'keys' ? key : id %}
        {% set val = field.use == 'keys' ? '1' : key %}
        {% set checked = (field.use == 'keys' ? value[key] : key in value) %}
<<<<<<< HEAD
=======
        {% set help = (key in field.help_options|keys ? field.help_options[key] : false) %}
>>>>>>> update grav cms

        <span class="checkboxes">
            <input type="checkbox"
                   id="{{ id|e }}"
                   value="{{ val|e }}"
<<<<<<< HEAD
                   name="{{ field.name|fieldName ~ '[' ~ name ~ ']' }}"
                   {% if checked %}checked="checked"{% endif %}
                   {% if field.validate.required %}required="required"{% endif %}
            >
            <label style="display: inline" for="{{ id|e }}">{{ text|t|e }}</label>
=======
                   name="{{ (scope ~ field.name)|fieldName ~ '[' ~ name ~ ']' }}"
                   {% if checked %}checked="checked"{% endif %}
                   {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                   {% if field.validate.required %}required="required"{% endif %}
            >
            <label style="display: inline" for="{{ id|e }}">
                {% if help %}
                    <span class="hint--bottom" data-hint="{{ help|t|e('html_attr') }}">{{ text|t|e }}</span>
                {% else %}
                    {{ text|t|e }}
                {% endif %}
            </label>
>>>>>>> update grav cms
        </span>
    {% endfor %}
{% endblock %}
