<section id="about-us" class="padding-top off-white">
	<div class="container text-center">
		<div class="row section-title">
			<div class="col-sm-8 col-sm-offset-2 wow pulse">
				<h2>{{ page.header.title }}</h2>
			</div>
		</div>
		<div class="row">
			{% for section in page.header.sections %}
			<div class="col-md-4 col-sm-4 about-content wow fadeIn">
				<div class="about-icon">
					<i class="fa fa-{{ section.icon }}"></i>
				</div>
				<div class="about-text">
					<h3>{{ section.title }}</h3>
					{% for text in section.paragraphs %}
					<p>{{ text.paragraph }}</p>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
