<section id="contact-us" class="parallax-section">
    <div class="parallax-content">
        <div class="color-overlay"></div>
        <div class="container">
            <div class="row text-center section-title">
                <div class="col-sm-8 col-sm-offset-2 wow pulse">
                    <h2>{{ page.header.title }}</h2>
                    <p>{{ page.content }}</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="contact-info wow fadeIn">
                    <h3>{{ page.header.infoheader }}</h3>
                    <ul>
                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ 'info@3dplex.io'|safe_email }}" onclick="ga('send', 'pageview', '/info-email');"> {{ page.header.email }}</a></li>
                    </ul>
                    <div class="row">
                        <div id="subbed" class="hide">
                            <h4>{{ page.header.thankyousign }}</h4>
                        </div>
                        <div id="sub">
                            <h4>{{ page.header.signmessage }}</h4>
                            <form id="contact-form" name="contact-form" role="form" enctype="multipart/form-data" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" required="required" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-submit form-submit">{{ page.header.buttonmessage }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mailchimp">
                                    <input type="text" name="{{ page.header.mailchimpform }}" tabindex="-1" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="social-icons">
                        <h3>{{ page.header.socialtitle }}</h3>
                        <ul>
                            {% for social in page.header.socials %}
                            <li><a href="{{ social.url }}" title="{{ social.url }}" target="_blank" onclick="{{ social.action }}"><i class="fa fa-{{ social.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
