<section id="innovation" class="padding-top">
    <div class="container text-center">
        <div class="row section-title">
            <div class="col-sm-8 col-sm-offset-2 wow pulse">
                <h2>{{ page.header.title }}</h2>
                {{ page.content }}
            </div>
        </div>
        <div class="bout-us-image wow fadeIn">
            <img class="img-responsive" src="{{ page.media['360-innovation.png'].url }}" alt="360-innovation" />
        </div>
    </div>
</section>
