<div id="home">
	<div id="home-intro">
		<img id="logo" class="img-responsive" src="{{ page.media.images['logo_small.png'].url }}" alt="logo">
		<div class="carousel-inner">
			<div class="item active" data-vide-bg="mp4: {{ page.media['3dplexintro2.mp4'].url }}" poster="{{ page.media['3dplexintro2.png'].url }}" data-vide-options="posterType: png">
				<div class="carousel-caption">
					<h2>{{ page.header.title }}</h2>
					<div id="js-rotating">
						{{ page.content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<a data-scroll class="smooth-scroll" href="#navigation">
		<div class="mouse-icon">
			<div class="wheel"></div>
			<i class="fa fa-angle-down"></i>
		</div>
	</a>
</div>

{% block navigation %}
	{% include 'partials/navigation.html.twig' %}
{% endblock %}
