<section id="partners" class="padding-top padding-bottom">
    <div class="container">
        <div class="row text-center section-title">
            <div class="col-sm-8 col-sm-offset-2 wow pulse">
                <h2>{{ page.header.title }}</h2>
                {{ page.content }}
            </div>
        </div>
        <div class="team-members text-center">
            <div class="row">
                <div class="col-sm-6 col-md-3 center-block middle wow fadeIn">
                    {% for partner in page.header.partners %}
                    <div class="member">
                        <div class="member-image">
                            <a href="{{ partner.link }}" target="_blank" title="{{ partner.text }}"><img class="img-responsive" src="{{ page.media[partner.img].url }}" alt="{{ partner.text }}"></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
