<section id="platform" class="padding-top">
    <div class="container text-center">
        <div class="row section-title">
            <div class="col-sm-8 col-sm-offset-2 wow pulse">
                <h2>{{ page.header.title }}</h2>
            </div>
        </div>
        <div class="section-image wow fadeIn">
            <img class="img-responsive" src="{{ page.media['4elements.jpg'].url }}" alt="4 elements" />
        </div>
        <div class="row wow fadeIn">
            {{ page.content }}
        </div>
        <div class="section-image wow fadeIn">
            <img class="img-responsive" src="{{ page.media['micro.jpg'].url }}" alt="micro-factory" />
        </div>
    </div>
</section>
