<div id="promo-one" class="parallax-section">
    <div class="parallax-content">
        <div class="color-overlay"></div>
        <div class="container text-center">
            <h2>{{ page.header.title }}</h2>
            {{ page.content }}
        </div>
    </div>
</div>
