<div id="promo-two" class="parallax-section">
    <div class="parallax-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h3>We are a team of engineers</h3>
                    {{ page.content }}
                    <a href="https://twitter.com/intent/tweet?screen_name=3DPlexLabs" class="btn btn-primary" data-related="3DPlexLabs" onclick="ga('send', 'pageview', '/tweet-us');">Tweet Us</a>
                    <script>
                        ! function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
