<div id="testimonial" class="parallax-section">
    <div class="parallax-content">
        <a class="testimony-left" href="#testimonial-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="testimony-right" href="#testimonial-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <div class="color-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner text-center">
                            {% for section in page.header.sections %}
                            <div class="item {% if section.active %} active {% endif %}">
                                <h3>{{ section.title }}</h3>
                                {% for text in section.paragraphs %}
                                <p>{{ text.paragraph }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
