<<<<<<< HEAD
<h1>Error {{ header.http_response_code }}</h1>

<p>{{ page.content }}</p>
=======
<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}</h1>

<p>{{ page.content|raw }}</p>
>>>>>>> update grav cms
