<<<<<<< HEAD
{% set value = (value is null ? field.default : value) %}
=======
{% set value = (value is null ? (field.evaluate ? evaluate(field.default) : field.default) : value) %}
>>>>>>> update grav cms

<input data-grav-field="hidden" data-grav-disabled="false" type="hidden" class="input" name="{{ (scope ~ field.name)|fieldName }}" value="{{ value|join(', ') }}" />
