{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="error">
		<div>
<<<<<<< HEAD
			<h1>Error {{ page.header.http_response_code }}</h1>
=======
			<h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
>>>>>>> update grav cms
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
{% endblock %}
