<<<<<<< HEAD
$sidebar-width: 20%;
$sidebar-padding: 2rem;
$topbar-height: 4.2rem;
$update-height: 3rem;
=======
$topbar-height: 4.2rem;
$update-height: 3rem;
$sidebar-width-large: 240px;
$sidebar-width-small: $topbar-height;
$sidebar-padding: 2rem;

// Special cases
.sidebar-closed:not(.sidebar-quickopen) {
    #admin-sidebar {
        float: left;
        visibility: visible;
        opacity: 1;
        width: $sidebar-width-small;

        #admin-logo {
            h3 {
                font-size: 0;
                &:first-letter {
                    font-size: 2.5rem;
                }
            }

            .admin-logo .front-end {
                display: none;
            }
        }

        #grav-logo-small {
            display: inline-block;
        }

        #grav-logo-large {
            display: none;
        }

        #admin-user-details {
            padding: 15px 0 15px 10px;
            text-align: left;
        }

        .admin-user-names {
            display: none;
        }

        #admin-menu {
            em {
                display: none;
            }

            li {
                .badges {
                    .updates {
                        border-radius: 100%;
                        position: absolute;
                        top: 4px;
                        right: 10px;
                        font-size: 9px;
                        line-height: 12px;
                        padding: 1px 3px;
                        min-width: 15px;
                    }
                    .count {
                        display: none;
                    }
                }
            }
        }

        #open-handle {
            @include breakpoint(large-desktop-plus) {
                .fa-angle-double-right:before {
                    content: "\f101";
                }
            }
        }
    }
    #admin-main {
        margin-left: $sidebar-width-small;
    }
}

.sidebar-open {
    #admin-sidebar {
        z-index: 10001;
        float: left;
        visibility: visible;
        opacity: 1;
        width: $sidebar-width-large;

        h3 {
            font-size: 1.2rem;
            &:first-letter {
                font-size: 1.2rem;
            }
        }

        #grav-logo-small {
            display: none;
        }

        #grav-logo-large {
            display: inline-block;
        }

        #admin-user-details {
            padding: 15px 10px;
            text-align: left;
        }

        .admin-user-names {
            display: block;
        }


        .admin-logo .front-end {
            display: inline-block;
        }



        #admin-menu {
            em {
                display: inline;
            }

            li {
                .badges {
                    .updates {
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        position: relative;
                        top: auto;
                        right: auto;
                        @extend .badge;
                    }
                    .count {
                        display: inline-block;
                    }
                }
            }
        }

        #open-handle {
            @include breakpoint(mini-nav-range) {
                .fa-angle-double-right:before {
                    content: "\f100";
                }
            }
        }
    }
}
>>>>>>> update grav cms

#admin-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
<<<<<<< HEAD
    width: $sidebar-width;

    background: $accent-bg;

    @include breakpoint(mobile-only) {
        display: none;
        width: 75%;
        z-index: 999999;
    }

    a {
        color: shade($accent-fg,20%);
        &:hover {
            color: $accent-fg;
        }
    }
}


#admin-logo {
    background: $darker-accent-bg;
    height: $topbar-height;
=======
    width: 100%;
    max-height: 100vh;
    opacity: 0;
    z-index: 3;
    //transition: opacity 0.2s 0s, visibility 0s 0.2s;

    #open-handle {
        display: block;
        position: absolute;
        cursor: pointer;
        right: -16px;
        top: 20px;
        width: 16px;
        height: 25px;
        text-align: center;
        line-height: 23px;
        z-index: 3;
        font-size: 1.2rem;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        @include breakpoint(large-desktop-plus) {
            .fa-angle-double-right:before {
                content: "\f100";
            }
        }
    }

    &.sidebar-is-visible {
        opacity: 1;
        visibility: visible;
        //transition: opacity 0.2s 0s, visibility 0s 0s
    }

    @include breakpoint(mobile-only) {
        z-index: 3;
    }

    @include breakpoint(tablet-plus) {
        float: left;
        visibility: visible;
        opacity: 1;
        width: $sidebar-width-small;
    }

    @include breakpoint(large-desktop-plus) {
        float: left;
        visibility: visible;
        opacity: 1;
        width: $sidebar-width-large;
    }
}

#admin-logo {
    height: $topbar-height;
    text-align: center;

    .admin-logo {
        a {
            display: inline-block;
            vertical-align: middle;
            width: 20%;
            text-align: right;
            padding-right: 1rem;

            &:first-child {
                width: 70%;
                padding-right: 0;
                @include breakpoint(mobile-only) {
                    width: 100%;
                }
            }

            .fa {
                display: block;
                margin-top: -5px;
            }
        }
    }

    .admin-logo .front-end {
        @include breakpoint(mobile-only) {
            position: absolute;
            right: 20px;
            top: 23px;
            line-height: 2rem;
            padding-right: 0;
            i {
                font-size: 2rem;
            }
        }
        @include breakpoint(mini-nav-range) {
            display: none;
        }
    }

    #grav-logo-small {
        max-width: 100%;
        height: 40px;
        display: none;
        margin: 13px 0 12px;

        @include breakpoint(tablet-plus) {
            display: inline-block;
        }

        @include breakpoint(large-desktop-plus) {
            display: none;
        }
    }

    #grav-logo-large {
        max-width: 100%;
        padding-left: 1.5rem;
        height: 40px;
        margin: 13px 0 12px;

        @include breakpoint(tablet-plus) {
            display: none;
        }

        @include breakpoint(large-desktop-plus) {
            display: inline-block;
        }
    }
>>>>>>> update grav cms

    h3 {
        text-transform: uppercase;
        margin: 0;
        @extend %vertical-align;
        text-align: center;
        font-size: 1.2rem;

<<<<<<< HEAD
=======

        @include breakpoint(tablet-plus) {
            font-size: 0;
            &:first-letter {
                font-size: 2.5rem;
            }
        }

        @include breakpoint(large-desktop-plus) {
            font-size: 1.2rem;
            &:first-letter {
                font-size: 1.2rem;
            }
        }

>>>>>>> update grav cms
        i {
            font-size: 1rem;
            vertical-align: middle;
            margin-top: -1px;
        }
    }
}

#admin-user-details, .admin-user-details {
<<<<<<< HEAD
    padding: $sidebar-padding;
    border-bottom: 1px solid $darker-accent-bg;
    overflow: hidden;
=======
    padding: 15px 10px;
    height: 80px;
    overflow: hidden;
    text-align: left;

    @include breakpoint(mini-nav-range) {
        padding: 1rem 10px;
        text-align: center;
    }
>>>>>>> update grav cms

    img {
        @include transition(all 0.5s ease);
        border-radius: 100%;
        float: left;
<<<<<<< HEAD

        @include breakpoint(tablet-range){
            float: none;
        }
    }

    &:hover img {
        box-shadow: 0px 0px 0 50px lighten($accent-bg,3%);
    }

    .admin-user-names {
        margin-left: 45px;

        @include breakpoint(tablet-range){
            margin-left: 0;
        }

        h4, h5 {
            color: darken($accent-fg,10%);
=======
    }

    .admin-user-names {
        margin-left: 60px;
        margin-top: 5px;
        display: block;

        @include breakpoint(mini-nav-range) {
            display: none;
        }

        h4, h5 {
>>>>>>> update grav cms
            margin: 0;
            font-size: 1rem;
            line-height: 1.3;
        }

        h5 {
<<<<<<< HEAD
            font-family: $font-family-default;
            color: lighten($accent-bg,55%);
=======

>>>>>>> update grav cms
            font-size: 0.9rem;
        }
    }
}

<<<<<<< HEAD
=======
#messages.default-box-shadow {
    margin-bottom: 2.5rem;

    @include breakpoint(mobile-only) {
        margin-bottom: 0.5rem;
    }
}

.admin-menu-wrapper {
    height: calc(100vh - 180px);
    overflow: hidden;

    @include breakpoint(mini-nav-range) {
        height: calc(100vh - 136px);
    }
}

>>>>>>> update grav cms
#admin-menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

<<<<<<< HEAD



    li {
        font-family: $font-family-header;

        .badges {
            float: right;
            margin-right:1rem;
=======
    em {
        font-style: normal;

        @include breakpoint(mini-nav-range) {
            display: none;
        }
    }

    li {
        .badges {
            float: right;
            margin-right: 1rem;
>>>>>>> update grav cms

            .badge {
                display: inline-block;
                margin-right: -5px;
<<<<<<< HEAD

                color: shade($accent-fg,10%);
            }

            .count {
                background-color: lighten($accent-bg, 10%);
            }

            .updates {
                background-color: $tertiary-accent-bg;
                display: none;
            }

=======
            }

            .updates {
                display: none;
            }

            .count {
                @include breakpoint(mini-nav-range) {
                    display: none;
                }
            }

>>>>>>> update grav cms
            &.with-updates {
                .count {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }

                .updates {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
<<<<<<< HEAD

                    display: inline-block;
=======
                    display: inline-block;

                    @include breakpoint(mini-nav-range) {
                        border-radius: 100%;
                        position: absolute;
                        top: 4px;
                        right: 10px;
                        font-size: 9px;
                        line-height: 12px;
                        padding: 1px 3px;
                        min-width: 15px;
                    }
>>>>>>> update grav cms
                }
            }
        }

        a {
            @include transition(all 0.2s ease);
            display: block;
            padding-left: 25px;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
<<<<<<< HEAD

            color: lighten($accent-bg,65%);

            @include breakpoint(tablet-range){
                padding-left: 20px;
            }

            i {
                @include transition(all 0.2s ease);
                color: lighten($accent-bg,55%);
                margin-right: 8px;

                @include breakpoint(tablet-range){
                    display: none;
                }
            }

            &:hover {
                background: $darker-accent-bg;
                // padding-left: 30px;
                color: $accent-fg;

                i {
=======
            position: relative;

            .fa {
                @include transition(all 0.2s ease);
                margin-right: 8px;
            }

            &:hover {
                .fa {
>>>>>>> update grav cms
                    font-size: 1.2rem;
                }
            }
        }

        &.selected {
            a {
<<<<<<< HEAD
                background: $page-bg;
                color: $accent-fg;
                padding-left: 16px;
                border-left: 9px solid $secondary-accent-bg;

                @include breakpoint(tablet-range){
                    padding-left: 11px;
                }

                i {
                    color: lighten($accent-bg,70%);
                }
=======
                padding-left: 16px;
>>>>>>> update grav cms
            }
        }
    }
}

<<<<<<< HEAD

#admin-main {
    margin-left: $sidebar-width;

    @include breakpoint(mobile-only) {
        width: 100%;
        margin-left: 0;
=======
body.sidebar-quickopen #admin-main {
    @include breakpoint(large-desktop-plus) {
         margin-left: $sidebar-width-small;
    }
}

#admin-main {

    @include breakpoint(tablet-plus) {
        margin-left: $sidebar-width-small;
    }

    @include breakpoint(large-desktop-plus) {
        margin-left: $sidebar-width-large;
>>>>>>> update grav cms
    }

    .hint:after, [data-hint]:after {
        font-size: 0.9rem;
        width: 300px;
        line-height: inherit;
        white-space: normal;
<<<<<<< HEAD
=======

        @include breakpoint(mobile-only) {
            font-size: 0.5rem;
        }
>>>>>>> update grav cms
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
        text-align: left;
        letter-spacing: -1px;
<<<<<<< HEAD
=======
        line-height: 1.5;
>>>>>>> update grav cms
    }

    .padding {
        padding: $padding-default;
    }

<<<<<<< HEAD
=======
    .lines-button {
        display: none;
        margin-left: $padding-default / 2;
        &:focus {
            outline:none;
        }

        @include breakpoint(mobile-only) {
            display: inline-block;

        }

    }

    .button {
        white-space: nowrap;
    }

>>>>>>> update grav cms
    .titlebar {
        position: relative;
        height: $topbar-height;
        padding: 0 $padding-default;

<<<<<<< HEAD
        @include breakpoint(mobile-only) {
            height: 7.2rem;
            margin-top: -5.5rem;
            position: relative;
=======
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
        z-index: 2;

        @include breakpoint(mobile-only) {
            padding: 0 ($padding-default / 2) 0 ($padding-default + 2);
>>>>>>> update grav cms
        }

        h1 {
            @extend %vertical-align;
<<<<<<< HEAD

            @include breakpoint(mobile-only) {
                > i:first-child:before {
                   content: "\f0c9";
                }
                transform: inherit;
                top: 5px;
                font-size: 1.2rem;
                display: block;
                text-align: center;
                padding: 20px 0px;
                margin-top: -90px;
                z-index: 2;
            }

            @media only all and (max-width: 381px) {
                margin-top: -138px;
            }

            .fa-th {
                @include breakpoint(mobile-only) {
                    cursor: pointer;
                    float: left;
=======
            display: block;
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;

            @include breakpoint(mobile-only) {
                font-size: 18px;
                i {
                    display: none;
>>>>>>> update grav cms
                }
            }
        }

        .button-bar {
            @extend %vertical-align;
            padding: 0;
<<<<<<< HEAD

            @include breakpoint(mobile-only) {
                text-align: center;
                display: block;
                float: none;
                margin: 5rem auto 0px;
                padding-top: 70px;
            }

        }

        .preview {
            color: $secondary-accent-fg;
=======
        }

        .preview {
>>>>>>> update grav cms
            font-size: 90%;
        }

        .button {
            padding: 0.3rem 0.6rem;
<<<<<<< HEAD

            @include breakpoint(mobile-only) {
                padding: 0.2rem 0.5rem;
                font-size: 0.9rem;
            }

            i {
                font-size: 13px;
=======
            vertical-align: top;

            @include breakpoint(mobile-only) {
                font-size: 0;
                padding: 0.5rem 0.5rem;
                min-height: 36px;
                i {
                    font-size: 20px;
                    margin-right: 0;
                }
            }

            @media only all and (max-width: 20.875em) {
                padding: 0.5rem 0.2rem;
            }
        }

        @include breakpoint(mobile-only) {
            .dropdown-menu .button {
                font-size: 0.9rem;
>>>>>>> update grav cms
            }
        }
    }

<<<<<<< HEAD
    .admin-block .grav-update, .admin-block .alert {
=======
    .admin-block .alert {
>>>>>>> update grav cms
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

<<<<<<< HEAD
    .grav-update {
        @include clearfix;
        padding: 0 $padding-default;
        margin-top: -$padding-default;
        background: $info-bg;
        color: $info-fg;

        &.plugins {
            padding-right: 1rem;
=======
    .alert {
        &:before {
            font-family: FontAwesome;
            margin-right: 5px;
        }
        &.info:before {
            content: "\f0a1";
        }
        &.warning:before {
            content: "\f071";
        }
        &.note:before {
            content: "\f24a";
        }

        &.grav:before {
            font-family: rockettheme-apps;
            content: "\62";
            vertical-align: bottom;
        }
        &.grav {
            #grav-update-button {
                float: right;
            }
        }
    }

    .grav-update {
        @include clearfix;
        padding: 0 $padding-default;
        margin-top: -2rem;
        margin-bottom: 1rem;
        display: none;

        @include breakpoint(mobile-only) {
            padding: 0 1rem;
>>>>>>> update grav cms
        }

        .button {
            float: right;
            margin-top: 0.6rem;
            margin-left: 1rem;
            line-height: 1.5;
<<<<<<< HEAD
            @include button-color(shade($info-bg, 20%));
=======
>>>>>>> update grav cms
        }

        p {
            line-height: $update-height;
            margin: 0;
<<<<<<< HEAD
        }

        i {
            padding-right: 0.5rem;
        }

        .less {
            color: rgba($info-fg,0.75);
        }

        &.grav {
            margin-top: 0;
            @include transition (margin-top 0.15s ease-out);

            @include breakpoint(mobile-only){
                position: absolute;
                z-index: 9;
                bottom: 0;
                width: 100%;
                p * {
                    display: none;
                }
                p {
                    font-size: 0;
                    button {
                            width: 95%;
                            display: inherit;
                            position: absolute;
                            top: 0;
                            left: 0;
                            margin-left: 2.5%;
                            margin-right: 2.5%;
                            padding-left: 0;
                    }
                }
            }
        }
    }

    .grav-update.grav + .content-padding {
        top: $topbar-height + $update-height;
        @include transition (top 0.15s ease-out);

        @include breakpoint(mobile-only) {
            top: 7.2rem;
            padding-bottom: 8rem;
            padding-top: 0rem;
=======
            display: block;
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        span[class="hint--left"]::after {
            line-height: 1.5;
        }

        i {
            padding-right: 0.5rem;
        }

    }

    .grav-update.grav + .content-wrapper {
        height: calc(100vh - #{$topbar-height} - #{$update-height});
    }

    .content-wrapper {
        position: relative;
        overflow-y: hidden;
        height: calc(100vh - #{$topbar-height});

        .gm-scrollbar.-vertical {
            right: 5px;
            top: 5px;
            width: 8px;
            border-radius: 4px;
>>>>>>> update grav cms
        }
    }

    .content-padding {
<<<<<<< HEAD
        position: absolute;
        top: $topbar-height;
        bottom: 0;
        left: $sidebar-width;
        right: 0;
        overflow-y: auto;
        padding: 2.5rem;

        @include breakpoint(mobile-only) {
            top: 7.2rem;
            left: 0;
=======
        padding: 2.5rem;

        @include breakpoint(mobile-only) {
            padding: 0;
>>>>>>> update grav cms
        }
    }

    .admin-block {
<<<<<<< HEAD
        background: $content-bg;
        color: $content-fg;
        padding: 2rem 0;

        h1 {
            color: $page-bg;
            padding: 0 $padding-default 0.5rem;
            margin: 0 0 1rem;
            border-bottom: 3px solid darken($content-bg, 5%);

            @include breakpoint(mobile-only){
                padding: 0 0 0.5rem;
                margin: 0 0 1rem !important;
                text-indent: $padding-default;
=======
        padding: 2rem 0;

        &:empty {
            padding: 0;
        }

        h1 {
            padding: 0 $padding-default 0.5rem;
            margin: 0 0 1rem;

            @include breakpoint(mobile-only) {
                padding: 0 1rem 0.5rem;
>>>>>>> update grav cms
            }

            &.no_underline {
                border-bottom: 0;
            }
        }

        .button-bar {
<<<<<<< HEAD
            margin-right: $padding-default;

            @include breakpoint(mobile-only) {
                width: 100%;
                margin: -.5rem 0 1rem 0;
=======
            margin: 0 $padding-default;

            @include breakpoint(mobile-only) {
                margin: -1rem 0 1rem 0;
                width: 100%;
                padding: 0 1rem;
>>>>>>> update grav cms
                text-align: center;

                .button {
                    width: 100%;
                }
            }
        }
    }

    .flush-bottom {
        &.button-bar {
            margin: 1rem -2rem -1rem;
            height: 70px;
<<<<<<< HEAD
            padding: 0 1rem;
            float: none;

            @include breakpoint(mobile-only){
                height: auto;
                padding: 2rem 1rem 0rem 1rem;
            }
            .button {
                @extend %vertical-align;

                @include breakpoint(mobile-only) {
                    margin-left: 0 !important;
                    margin-bottom: .5rem;
                    width: 100%;
                }
=======
            padding: 1rem;
            float: none;

            .button {
                @extend %vertical-align;
                margin: 0;
>>>>>>> update grav cms
            }
        }
    }

    .danger, .success {
        position: relative;

        &.button-bar {
            margin: 2rem 0 -2rem;
            height: 70px;
            padding: 1rem;
            float: none;
            .button {
                @extend %vertical-align;
            }
<<<<<<< HEAD
            background: darken($content-bg, 2%);
        }
    }

    .danger {
        &.button-bar {
            .button {
                @include button-color($secondary-link);
            }
=======
>>>>>>> update grav cms
        }
    }
}

<<<<<<< HEAD


#admin-dashboard {

    @include clearfix;

    .dashboard-item {
        float: left;
        width: 50%;
        margin-bottom: 2.5rem;

        @include breakpoint(mobile-only) {
            width: 100%;
        }

        > div {
            padding: 1rem 2rem;
        }


    }

    .dashboard-left {
        padding-right: 1.25rem;

        @include breakpoint(mobile-only) {
            padding-right: 0rem;
        }
    }

    .dashboard-right {
        padding-left: 1.25rem;

        @include breakpoint(mobile-only) {
            padding-left: 0rem;
        }

=======
#admin-dashboard {

    @include display(flex);
    @include flex-flow(row wrap);

    .dashboard-item-flex {
        @include display(flex);
        @include flex-flow(column nowrap);

        width: 50%;

        &:nth-of-type(2n) .dashboard-item {
            margin-right: 0;
            margin-left: 4%;
        }

        &:nth-of-type(2n+1) .dashboard-item {
            margin-left: 0;
            margin-right: 4%;
        }

        @include breakpoint(mobile-only) {
            width: 100%;
            .dashboard-item {
                margin-right: 0px !important;
                margin-left: 0px !important;
                margin-bottom: 10px !important;
            }
        }
    }

    .dashboard-item {


        margin-bottom: 2.5rem;


        > div:not(.widget-content) {
            padding: 1rem 2rem;
        }

        h1 .right {
            float: right;
        }

        &.admin-block {
            padding: 1rem 0;

            ul {
                margin: 0 0 1rem 0;
                padding: 0;
                list-style: none;
            }
            li {
                margin: 0;
                padding: 0.425rem 3rem 0.2rem 3rem;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    .chart-loader {
        position: relative;

        .fa {
            display: block;
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: 4rem;
            margin-top: -2rem;
            @extend %vertical-align;
        }

        text-align: center;
    }

    .widget-content {
        position: relative;
        min-height: 400px;
        padding: 0;
    }

    .widget-loader {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);

        .fa {
            font-size: 4rem;
        }
>>>>>>> update grav cms
    }

    #updates {

        p {
            text-align: center;
<<<<<<< HEAD
            color: rgba($white,0.96);
=======
>>>>>>> update grav cms
            margin: 0;
        }

        .updates-chart {
            width: 50%;
            float: left;

        }

        .chart-wrapper {
            position: relative;
        }

        .backups-chart {
            position: relative;
            width: 50%;
            float: left;
        }

<<<<<<< HEAD
=======
        .ct-chart {
            min-height: 157px;
        }
>>>>>>> update grav cms

        .numeric {
            display: block;
            position: absolute;
            width: 100%;
            text-align: center;
<<<<<<< HEAD
            font-size: 1.7rem;
            line-height: 1;
            @extend %vertical-align;


            em {
                display:block;
                font-style: normal;
                font-size: 1rem;
                color: rgba($white, .85);
=======
            font-size: 1.5rem;
            line-height: 1;
            @extend %vertical-align;

            em {
                display: block;
                font-style: normal;
                font-size: 1rem;
>>>>>>> update grav cms
            }

        }

        .admin-update-charts {
            @include clearfix;
            min-height: 191px;
        }

        .button {
<<<<<<< HEAD
            margin-left: 0.5rem;
            @include breakpoint(tablet-range){
                width: 49%;
                padding: .3rem 0rem;
                margin-left: 0;
            }
=======

>>>>>>> update grav cms
        }
    }

    #popularity {
<<<<<<< HEAD
        p {
            text-align: center;
            color: rgba($white,0.95);
            margin: 0;
        }
=======

        .admin-statistics-chart {
            position: relative;
        }

        .ct-chart {
            min-height: 171px;
        }

        p {
            text-align: center;
            margin: 0;
        }

>>>>>>> update grav cms
        .button-bar {
            height: 100px;
            padding: 0 1rem;

        }
        .stat {
            @extend %vertical-align;
<<<<<<< HEAD
            display:block;
=======
            display: block;
>>>>>>> update grav cms
            float: left;
            width: 33%;
            text-align: center;
            b {
                display: block;
                font-size: 2.5rem;
                line-height: 1;
                font-weight: 300;
            }
            i {
                display: block;
                font-style: normal;
<<<<<<< HEAD
                color: rgba($white, 0.75);
=======
>>>>>>> update grav cms
            }
        }
    }

<<<<<<< HEAD

    .tertiary-accent {
        @include linear-gradient($tertiary-accent-bg, lighten($tertiary-accent-bg,20%));
    }

    .secondary-accent {
        @include linear-gradient($secondary-accent-bg, lighten($secondary-accent-bg,20%));
    }
}

.no-flick{-webkit-transform:translate3d(0,0,0);}
=======
    #news-feed {
        .date {
            float: right;
            z-index: 1;
        }
        li {


            a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                z-index: 0;

                &:before {
                    font-family: FontAwesome;
                    margin-right: 10px;
                    content: "\f1ea";
                }
            }


        }
    }
}

.no-flick {
    -webkit-transform: translate3d(0, 0, 0);
}
>>>>>>> update grav cms

.card-row {
    @include justify-content(space-between);
}

.card-item {
    @extend .no-flick;
    overflow: hidden;
    padding: 1rem;
    margin: 0;
    position: relative;
    width: 31%;
    @include breakpoint(tablet-range) {
        width: 48%;
    }
    @include breakpoint(mobile-only) {
        width: 100%;
    }

<<<<<<< HEAD
    border: 1px solid darken($content-bg, 5%);
    background: $white;
=======
>>>>>>> update grav cms
    margin-bottom: 2rem;

    h4 {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

.user-details {
<<<<<<< HEAD
    text-align: center;
    img {
        border-radius: 100%;
    }
    h2 {
        margin: 0;
        font-size: 1.8rem;
    }
    h5 {
        color: lighten($content-fg,10%);
        font-size: 1.1rem;
        margin: 0;
=======
    text-align: left;
    img {
        border-radius: 100%;

    }
    h2 {
        margin: 0;
        font-size: 2.1rem !important;
        margin: 1rem 0 0 !important;
        line-height: 1.5;

        span {
            font-size: 1.2rem;
        }
    }
    h5 {
        font-size: 1.1rem;
        margin: 0;
        linep-height: 1.2;
    }

    .gravatar {
        font-size: 0.9rem;
        padding: 0;
    }

    @include breakpoint(mobile-only) {
        text-align: center;
>>>>>>> update grav cms
    }
}

#footer {
    text-align: center;
    padding: 3rem 0 1rem;
}

// Chart overrides
.ct-chart {

    .ct-series {
        .ct-bar {
            stroke-width: 20px;

        }
<<<<<<< HEAD
        &.ct-series-a {
            .ct-bar {
                stroke: rgba($white, 0.85) !important;
            }
            .ct-slice-donut {
                stroke: $white !important;
            }
        }
        &.ct-series-b {
            .ct-slice-donut {
                stroke: rgba($white, 0.2) !important;
            }
        }
=======
>>>>>>> update grav cms
    }
}

#popularity .ct-chart {
    margin: 0 -10px -10px;
    .ct-chart-bar {
        padding: 10px;
    }
}

#latest {
    .page-title, .page-route {
        overflow: auto;
    }
<<<<<<< HEAD

    .last-modified {
        padding-left: 10px;
    }
}


=======
}

>>>>>>> update grav cms
#overlay {
    position: fixed;
    width: 25%;
    height: 100%;
    z-index: 999999;
    left: 75%;
    top: 0;
    display: none;
<<<<<<< HEAD
=======

    @include breakpoint(mobile-only) {
        display: none!important;
    }
>>>>>>> update grav cms
}

// Fix tabs spacing in plugin / theme options
.gpm-item-info + #blueprints .block-tabs {
    padding-top: 16px;
}
<<<<<<< HEAD
=======

.plugins-notifications-container,
.themes-notifications-container {
    margin-bottom: 2rem;
}

.package-dependencies-container {
    li {
        height: 35px;

        .button {
            height: 30px;
            float: right;
            margin-right: 10px;
            line-height: 20px;
        }
    }
}

.pointer-events-disabled {
    pointer-events: none;
}
>>>>>>> update grav cms
