.button {
	@extend %button;
<<<<<<< HEAD
    @include button-color(lighten($secondary-accent-bg, 10%));

    &.dropdown-toggle {
        border-left: 1px solid lighten($secondary-accent-bg, 5%);
    }

    &.secondary {
        @include button-color(shade($secondary-accent-bg, 20%));

        &.dropdown-toggle {
            border-left: 1px solid lighten(shade($secondary-accent-bg, 20%), 5%);
        }
    }
=======
>>>>>>> update grav cms
}

.button-group {
    position: relative;
    display: inline-block;
<<<<<<< HEAD
    vertical-align: middle;
=======
    vertical-align: top;
>>>>>>> update grav cms

    // real button
    > .button:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    > .button:first-child {
        margin-left: 0 !important;
    }

    > .button {
<<<<<<< HEAD
        position: relative;
        float: left;
=======
>>>>>>> update grav cms
    }

    // toggle caret
    > .button + .dropdown-toggle {
        text-align: center;
        padding-right: 8px;
        padding-left: 8px;

        i {
            margin: 0;
        }
    }

    > .button:last-child:not(:first-child), > .dropdown-toggle:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .button + .button, .button + .button-group, .button-group + .button, .button-group + .button-group {
<<<<<<< HEAD
        margin-left: -1px;
=======
        margin-left: -3px;
>>>>>>> update grav cms
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
<<<<<<< HEAD
        left: 0;
=======
>>>>>>> update grav cms
        right: 0;
        z-index: 1000;
        display: none;
        float: left;
<<<<<<< HEAD
        min-width: 160px;
=======
        min-width: 130px;
>>>>>>> update grav cms
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
<<<<<<< HEAD
        background-color: lighten($secondary-accent-bg, 10%);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid lighten($secondary-accent-bg, 5%);
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        
        &.language-switcher {
            min-width: auto;
=======
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-radius: 4px;

        &.language-switcher {
            min-width: 50px;
>>>>>>> update grav cms
        }

        &.lang-switcher {
            min-width: 150px;
            left: inherit;
            button {
                width: 100%;
            }
        }

        .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
<<<<<<< HEAD
            background-color: $secondary-accent-bg;
=======
>>>>>>> update grav cms
        }

        li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
<<<<<<< HEAD
            color: $white;
            white-space: nowrap;

            &:focus, &:hover {
                color: $white;
                text-decoration: none;
                background-color: $secondary-accent-bg;
            }
        }

        &.language-switcher {
            a.active {
                background-color: #349886
=======

            &:focus, &:hover {
                text-decoration: none;
>>>>>>> update grav cms
            }
        }
    }
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}
<<<<<<< HEAD
=======

// Override style for stubborn gumroad button
#admin-main .admin-block a.gumroad-button {
    padding: 0.3rem 1.5rem !important;
    font-size: inherit !important;
    font-weight: 300 !important;
    line-height: inherit !important;
    font-family: inherit !important;
    border-radius: 4px !important;
    box-shadow: inherit !important;
    .gumroad-button-logo {
        display: none !important;
        background-image: none !important;
    }
}
>>>>>>> update grav cms
