html, body {
	height: 100%;
}

body {
<<<<<<< HEAD
	background: $page-bg;
	color: $core-text;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $core-accent;
	&:hover {
		color: darken($core-accent, 20%);
	}
=======
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    overflow: hidden;
>>>>>>> update grav cms
}

b, strong {
	font-weight: $font-weight-bold
}

.bigger {
    font-size: 1.2rem;
<<<<<<< HEAD
=======

>>>>>>> update grav cms
}

.button-bar {
    text-align: right;
    float: right;
<<<<<<< HEAD
    z-index: 2;
}

.secondary-accent {
    background: $secondary-accent-bg;
    color: $secondary-accent-fg;

    .button-bar {
        background: $secondary-accent-bg;
    }

    .button {
        background: lighten($secondary-accent-bg, 10%);
    }
}

.tertiary-accent {
    background: $tertiary-accent-bg;
    color: $tertiary-accent-fg;

    .button-bar {
        background: $tertiary-accent-bg;
    }

    .button {
        background: lighten($tertiary-accent-bg, 5%);
        @include button-color(lighten($tertiary-accent-bg, 10%));
    }
=======
    z-index: 0;
>>>>>>> update grav cms
}

.alert {
    font-size: 1.1rem;
<<<<<<< HEAD
    padding: 1rem $padding-default;
}

.info {
    background: $info-bg;
    color: $info-fg;
    a {
        color: darken($info-fg, 10%);
        &:hover {
            color: $info-fg;
        }
    }
}

.info-reverse {
    color: $info-bg;
}

.notice {
    background: $tertiary-accent-bg;
    color: $tertiary-accent-fg;
    a {
        color: darken($tertiary-accent-fg, 10%);
        &:hover {
            color: $tertiary-accent-fg;
        }
    }
}

.error {
    background: $notice-bg;
    color: $notice-fg;
    a {
        color: darken($notice-fg, 10%);
        &:hover {
            color: $notice-fg;
        }
=======
    padding: 0.5rem $padding-default;

    @include breakpoint(mobile-only) {
        padding: 0.5rem 1rem;
>>>>>>> update grav cms
    }
}

.badge {
    display: inline-block;
    font-size: 0.9rem;
<<<<<<< HEAD
    font-family: $font-family-default;
=======
>>>>>>> update grav cms
    font-weight: 700;
    border-radius: 10px;
    padding: 0px 6px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
}

.empty-state {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
<<<<<<< HEAD
}
=======
}
>>>>>>> update grav cms
