<<<<<<< HEAD


// fieldset {
// 	border: 1px solid $core-border-color;
// }

// textarea, #{$all-text-inputs}, select[multiple=multiple] {
// 	background-color: white;
// 	border: 1px solid $core-border-color;
// 	box-shadow: $core-box-shadow;

// 	&:hover {
// 		border-color: $core-border-color-hover;
// 	}

// 	&:focus {
// 		border-color: $core-border-color-focus;
// 		box-shadow: $core-box-shadow-focus;
// 	}
// }

// label {
// 	@extend strong;
// }

// Forms
$form-label-width: 30%;
$form-border: darken($content-bg,10%);
$form-border-radius: 4px;
$form-border-width: 1px;
$form-label-pad: 5px 0 5px 3rem;
$form-input-pad: 5px 10px;
$form-select-pad: 5px 30px 5px 10px;

// Load Third Party Libraries
@import "template/modules/toggle-switch";

form {

    h1, h3 {
        color: $page-bg;
        padding: 0 $padding-default 0.5rem;
        margin: 0 0 1rem;
        border-bottom: 3px solid darken($content-bg, 5%);
=======
// Forms
form {

    h1, h3 {
        padding: 0 $padding-default 0.5rem;
        margin: 0 0 1rem;
>>>>>>> update grav cms
        font-size: 1.5rem;
        text-align: left;
        letter-spacing: -1px;
    }

<<<<<<< HEAD
=======
    h3 {
        padding-left: 0;
    }

>>>>>>> update grav cms
    p {
        padding: 0 $padding-default;
    }

    pre {
        padding: 1.5rem 3rem;
    }

<<<<<<< HEAD
    .note {
        font-family: $font-family-default;
        color: $notice-bg;
=======
    .form-description {
        font-weight: bold;
        font-size: small;
>>>>>>> update grav cms
    }

    .form-field {
        margin-bottom: 1rem;
        padding-left: $padding-default;
<<<<<<< HEAD
=======

        @include breakpoint(mobile-only) {
            padding-left: 1rem;
        }

        .file-thumbnail-wrapper {
            display: inline-block;
            position: relative;
        }

        .file-thumbnail {
            max-height: 150px;
            vertical-align: top;
            display: inline-block;
            margin-bottom: 10px;
        }

        .file-thumbnail-remove {
            position: absolute;
            text-align: center;
            display: block;
            top: 3px;
            right: 3px;
            width: 25px;
            height: 25px;
            border-radius:100%;

            .fa {
                font-size: 20px;
                line-height: 25px;
                vertical-align: top;
            }
        }
>>>>>>> update grav cms
    }

    .form-data {
        padding-right: $padding-default;
<<<<<<< HEAD
    }

    .required {
        color: $secondary-link;
            font-family: helvetica, arial;
            vertical-align: middle;
            line-height: 1;
            font-size: 30px;
            margin-left: 5px;

=======

        @include breakpoint(mobile-only) {
            padding-right: 1rem;
        }
    }

    .form-input-addon-wrapper {
        display: table-row;

        .form-input-addon {
            display: table-cell;
            min-width: 43px;
            padding: 0 10px;
            text-align: center;
        }
        input {
            height: 43px;
            display: table-cell;
        }
        .form-input-prepend {
            border-radius: 4px 0 0 4px;
            border-right-width: 0 !important;

        }
        .form-input-append {
            border-radius: 0 4px 4px 0;
            border-left-width: 0 !important;
        }

        input:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        input:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .required {
        font-family: helvetica, arial;
        vertical-align: middle;
        line-height: 1;
        font-size: 30px;
        margin-left: 5px;
>>>>>>> update grav cms
    }

    label {
        padding: 5px 0;
        font-weight: 400;
        margin:0;

        [data-hint] {
            display: inline;
        }

        &.toggleable {
            display: inline;
        }
    }

    input, select, textarea, button, .selectize-input {
<<<<<<< HEAD
        font-family: $font-family-default;
=======
>>>>>>> update grav cms
        font-size: $core-font-size;
        line-height: $core-line-height;
        border-radius: $form-border-radius;
        -webkit-font-smoothing: antialiased;
    }

<<<<<<< HEAD
=======
    .form-input-file {

        position: relative;
        min-height: 70px;
        border-radius: $form-border-radius;

        ul {
            margin: 1rem 0;
            text-align: left;
            font-size: 1rem;
            border-radius: $form-border-radius;
        }

        p {
            display: block;
            height: 100%;
            text-align: center;
            margin: 0;
            padding: 0.8rem 1rem 0;
            font-size: 1.2rem;
        }

        input {
            display: none;
        }
    }


>>>>>>> update grav cms
    .selectize-dropdown {
        z-index: 100000;
    }

    // override horizontal layout
    .form-column {
        > .form-field.grid {
            display: block;
            > .block {
                @include flex(0);
            }
        }

    }

    // vertical alignment of forms
    .grid.vertical {
        @include flex-flow(column);
    }

    .form-select-wrapper, .selectize-control.single .selectize-input {
        position: relative;

        &:after {
            margin-top: 0;
            border: 0;
            position: absolute;
            content: '\f078';
            font-family: 'FontAwesome';
            right: 12px;
            top: 50%;
            line-height: 0;
<<<<<<< HEAD
            color: lighten($content-fg,15%);
=======
>>>>>>> update grav cms
            pointer-events: none;
        }
    }

<<<<<<< HEAD
    .selectize-control {
        height: 39px;
    }

    .selectize-input {
        box-shadow: none;
        color: $content-fg;
=======
    .selectize-input {
        display: block !important;
        box-shadow: none;
>>>>>>> update grav cms
        padding: $form-select-pad;
        margin: 0;

        > input {
            font-size: $core-font-size;
            line-height: $core-line-height;
        }
    }

<<<<<<< HEAD

    .selectize-control.multi .selectize-input {

=======
    .selectize-control.multi .selectize-input {
>>>>>>> update grav cms
        padding: ($leading-margin / 4) ($leading-margin / 4);

        &.has-items {
            padding-top: 6px;
            padding-bottom: 4px;
        }

        > div {
<<<<<<< HEAD
            color: $content-fg;
            // background: $content-bg;
            border-radius: 2px;
            line-height: 1.5;
            &.active {
                background: darken($content-bg,10%);
            }
=======
            border-radius: 2px;
            line-height: 1.5;
>>>>>>> update grav cms
        }
    }

    .selectize-control.single .selectize-input {

        &:after {
            right: 27px;
        }
        &.dropdown-active {
            &:after {
                content: '\f077';
            }
        }
    }

<<<<<<< HEAD


    .x-small {

            max-width: 5rem !important;

    }

    .small {

            max-width: 10rem !important;

    }

    .medium {

            max-width: 20rem;

=======
    .x-small, .x-small.form-input-addon-wrapper input {
        max-width: 5rem !important;
    }

    .small, .small.form-input-addon-wrapper input {
        max-width: 10rem !important;
    }

    .medium, .medium.form-input-addon-wrapper input {
        max-width: 20rem;
>>>>>>> update grav cms
        textarea {
            height: 7rem;
        }
    }

<<<<<<< HEAD
    .large {

            max-width: 30rem !important;

         textarea {
=======
    .large, .large.form-input-addon-wrapper input {
        max-width: 30rem !important;

        textarea {
>>>>>>> update grav cms
            height: 10rem;
        }
    }

    select {
        width: 100%;
<<<<<<< HEAD
        border: $form-border-width solid $form-border;
        background: $white;
=======
>>>>>>> update grav cms
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        padding: $form-select-pad;
        cursor: pointer;
        margin: 0;
    }

<<<<<<< HEAD
    input[type=text], input[type=password], input[type=email], input[type=date] {
        width: 100%;
        border: $form-border-width solid $form-border;
        background: $white;
    }

    input[readonly=readonly] {
        background: darken($white, 5%);
        font-weight: bold;
=======
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=date],
    input[type=tel],
    input[type=time],
    input[type=week],
    input[type=month],
    input[type=number],
    input[type=color],
    input[type=url] {
        width: 100%;
>>>>>>> update grav cms
    }

    textarea {
        width: 100%;
<<<<<<< HEAD
        border: $form-border-width solid $form-border;
        background: $white;
    }

    .form-frontmatter-wrapper {
        border: $form-border-width solid $form-border;
        border-radius: $form-border-radius;
    }


    // input[type=text] {
    //     width: 65%;
    //     border: $form-border-width solid $form-border;
    //     padding: $form-input-pad;
    // }

    // input[type=date] {
    //     width: 200px;
    //     border: $form-border-width solid $form-border;
    //     padding: $form-input-pad;
    // }


    // textarea {
    //     width: 65%;
    //     height: 100px;
    //     border: $form-border-width solid $form-border;
    //     padding: $form-input-pad;
    // }


=======
    }

    .form-frontmatter-wrapper {
        border-radius: $form-border-radius;
    }

>>>>>>> update grav cms
    .switch-toggle {
        // margin-left: 30%;

        label {
            cursor: pointer;
        }

        a,label {
            outline: none !important;
        }
    }

    .dynfields, [data-grav-field="array"] {

        input[type=text] {
            width: 40%;
            float: left;
            margin: 0 5px 5px 0;
        }

        .form-row {
            display: inline-block;
<<<<<<< HEAD
=======
            width: 100%;
>>>>>>> update grav cms
            span {
                padding: 0.5rem;
                display: inline-block;
                line-height: 1.7;
                cursor: pointer;
<<<<<<< HEAD
=======

                &[data-grav-array-action="sort"] {
                    float: left;
                    cursor: move;
                }
>>>>>>> update grav cms
            }

            &.array-field-value_only {
                width: 100%;
            }
        }


    }

<<<<<<< HEAD
    .button-bar {
        margin-top: 1rem;
        background: lighten($form-border,7%);
=======
    [data-grav-array-type="container"].one-child {
        [data-grav-array-action="sort"] {
            display: none;
        }
    }

    .button-bar {
        margin-top: 1rem;
>>>>>>> update grav cms
        padding: 1.2rem 3rem;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .checkboxes {
        display: inline-block;
        padding: 5px 0;

        label {
            display: inline;
            cursor: pointer;
            position: relative;
            padding: 0 0 0 2rem;
            margin-right: 15px;

        }
        label:before {
            content:"";
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            top: 50%;
            left: 0;
            margin-top: -0.75rem;
            margin-right: 10px;
            position: absolute;
<<<<<<< HEAD

            background: $white;
            border: $form-border-width solid $form-border;
=======
>>>>>>> update grav cms
            border-radius: $form-border-radius;
        }
        input[type=checkbox] {
            display: none;
        }
        input[type=checkbox]:checked + label:before {
            content:"\f00c";
            font-family: "FontAwesome";
            font-size: 1.2rem;
            line-height: 1;
            text-align: center;
        }

        &.toggleable label{
            margin-right: 0;
        }
    }
}

// Display
.form-display-wrapper {
    p {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

<<<<<<< HEAD
// YAML CodeMirror
.form-frontmatter-wrapper {
    margin-bottom: 3rem;

    .dragbar {
        height:4px;
        background: $form-border;
        cursor:row-resize;
    }
}

#frontmatter {
    & + .CodeMirror {
        border-radius: $form-border-radius;
        padding: 10px;
=======
// Frontmatter Field
div.frontmatter {
    margin-bottom: 3rem;
}

textarea.frontmatter {
    height: 130px !important;

    & + .CodeMirror {
>>>>>>> update grav cms
        height: 130px;
    }
}

// Sortables
.form-order-wrapper {
    ul#ordering {

        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0.2rem 1rem;
            border-radius: $form-border-radius;
<<<<<<< HEAD
            border: 1px solid $form-border;
            background: lighten($content-bg, 4%);
            color: lighten($content-fg,10%);
            margin: 3px 0;
            position: relative;
            font-family: $font-family-default;

            &.drag-handle {
                cursor: move;
                background: lighten($content-bg, 7%);
                color: darken($content-fg,10%);
=======
            margin: 3px 0;
            position: relative;

            &.drag-handle {
                cursor: move;
>>>>>>> update grav cms
                &::after {
                    content: '\f0c9';
                    font-family: FontAwesome;
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
}

// Sortables
.form-list-wrapper {
    ul[data-collection-holder] {

        list-style: none;
        margin: 0;
        padding: 0;

<<<<<<< HEAD
        li {
            cursor: move;
            padding: 1rem;
            border-radius: $form-border-radius;
            border: 1px solid $form-border;
            background: lighten($content-bg, 4%);
            color: lighten($content-fg,10%);
            margin: 3px 0;
            position: relative;
            font-family: $font-family-default;
=======
        > li {
            padding: 1rem;
            border-radius: $form-border-radius;
            margin: 3px 0;
            position: relative;
>>>>>>> update grav cms

            .item-actions {
                position: absolute;
                right: 10px;
                top: 4px;
<<<<<<< HEAD
                color: darken($content-fg,10%);

                .fa-bars {
                }

                .fa-trash-o {
                    cursor: pointer;
                }
            }
        }
=======

                .fa {
                    cursor: pointer;
                }
            }

            &.collection-collapsed {
                height: 70px;
                overflow: hidden;

                @include breakpoint(mobile-only) {
                    height: 120px;
                }
            }
        }

        &[data-collection-nosort] > li {
            cursor: default;
        }
>>>>>>> update grav cms
    }

    .collection-actions {
        text-align: right;
    }
<<<<<<< HEAD
}

.form-label.block {
    z-index: 10000;

    &:hover {
        z-index: 10005;
=======

    .collection-sort {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        bottom: 0;
        cursor: move;

        @include breakpoint(mobile-only) {
            width: 20px;

            .fa {
                font-size: 0.8rem;
            }
        }

        .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    [data-collection-nosort] .collection-sort {
        display: none;
    }
}

.form-label.block {
    &:hover {
        z-index: 2;

    }
    label {
        z-index: 3;
>>>>>>> update grav cms
    }
}

// Fieldset
#admin-main .admin-block h2 {
    font-size: 1.25rem;
    margin: 0 0 .5rem;

    letter-spacing: normal;
}
.form-fieldset {
<<<<<<< HEAD
    background-color: #f7f7f7;
    border: 2px solid #e1e1e1;
=======
>>>>>>> update grav cms
    margin: 1rem 2rem;
}

.form-fieldset--label {
<<<<<<< HEAD
    background-color: #f3f3f3;

    &:hover,
    .form-fieldset input:checked + & {
        background-color: #eee;
    }

=======
>>>>>>> update grav cms
    label {
        display: table;
        font-size: 1.25rem;
        padding: .5rem 1rem;
        width: 100%;
    }

    h2 {
        margin: 0 !important;
    }

    .actions {
        font-size: initial;
        display: table-cell;
        text-align: right;
        vertical-align: middle;
    }

    & + .form-data {
        margin-top: 1rem;
        padding: 0;
    }
}
.form-fieldset--cursor {
    cursor: pointer;
}
.form-fieldset--info {
    font-size: small;
}
.form-fieldset > input:checked ~ .form-data,
.form-fieldset--collapsible .open,
.form-fieldset input:checked ~ .form-label .form-fieldset--collapsible .close {
    display: block;
}
.form-fieldset > .form-data,
.form-fieldset--collapsible .close,
.form-fieldset input:checked ~ .form-label .form-fieldset--collapsible .open {
    display: none;
}
<<<<<<< HEAD
=======

.filepicker-field-image {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.filepicker-field-name {
    vertical-align: middle;
}
>>>>>>> update grav cms
