.gpm {
<<<<<<< HEAD

    > table > tbody {
        > tr {
            border-bottom: 1px solid #e1e1e1;
        }

    }

    td {
        border: 0;
=======
    td {
        border: 0;
    }

    .gpm-search {
        position: relative;
        padding: 0 3rem 0.5rem;
        text-indent: 2.5rem;
        &:after {
            position: absolute;
            right: 60px;
            top: 10px;
            content: '\f002';
            font-family: 'FontAwesome';
        }

        @include breakpoint(mobile-only) {
            padding-left: 1rem;

        }
    }

    .sort-actions {
        float: right;
        margin: 0 24px;

        @include breakpoint(mobile-only) {
            float: none;
        }

        > * {
            font-size: 1rem;
            display: inline-block;
            vertical-align: middle;
        }

        .sort-icon {
            cursor: pointer;
        }

        select {
            margin: 0;
            display: none;
        }

        .selectize-input {
            width: 9rem;
            vertical-align: middle;
            line-height: 21px;

            input {
                line-height: 21px;
            }
        }
>>>>>>> update grav cms
    }

    .gpm-name {
        white-space: nowrap;
<<<<<<< HEAD
        color: lighten($content-fg, 25%);
=======

        @include breakpoint(mobile-only) {
            white-space: normal;
        }
>>>>>>> update grav cms
    }

    .gpm-version {
        padding-left:0.5rem;
<<<<<<< HEAD
        color: lighten($content-fg,10%);
        font-size: 0.9rem;
    }

    .gpm-update {
        .gpm-name {
            color: $secondary-accent-bg;
        }
=======
        font-size: 0.9rem;
    }

    .gpm-testing {
        @extend .badge;
        border-radius: 3px;
        padding: 0 4px;
        font-size: 0.75rem;
    }

    .theme .gpm-testing {
        line-height: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 0 0 3px;
        line-height: 1.3;
>>>>>>> update grav cms
    }

    .gpm-actions {

        .enabled, .disabled {
            font-size: 1.6rem;
        }
<<<<<<< HEAD

        .disabled {
            color: lighten($content-fg,10%);
        }
=======
>>>>>>> update grav cms
    }

    .gpm-item-info {
        position: relative;
<<<<<<< HEAD
        border-bottom: 3px solid darken($content-bg, 5%);
=======
>>>>>>> update grav cms
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        overflow: hidden;

<<<<<<< HEAD
        @include breakpoint(mobile-only) {
            word-wrap: break-word;
        }

        .gpm-item-icon {
            color: darken($content-bg, 3%);
=======


        .gpm-item-icon {
>>>>>>> update grav cms
            position: absolute;
            right: $padding-default;
            font-size: 20rem;
        }
        table {
            position: relative;
        }
        td {
            border: 0;
            text-align: left !important;

<<<<<<< HEAD
            &:first-child {
                color: lighten($content-fg,15%);
                white-space: nowrap;
                width: 25%;
=======
            &.double {
                padding-left: 2rem;
            }

            &:first-child {
                white-space: nowrap;
            }

            @include breakpoint(mobile-only) {
                word-wrap: break-word;
                word-break: break-word;
                @include hyphens(auto);
>>>>>>> update grav cms
            }
        }
        tr:hover {
            background: inherit;
        }
<<<<<<< HEAD
=======


>>>>>>> update grav cms
    }

    .badge.update {
        display: inline-block;
<<<<<<< HEAD
        background: $info-bg;
        border-radius: 4px;
        padding: 2px 10px;
        color: $info-fg;
=======
        border-radius: 4px;
        padding: 2px 10px;
>>>>>>> update grav cms
        margin-left: 1rem;
    }

    .gpm-ribbon {
<<<<<<< HEAD
        background-color: $info-bg;
        overflow: hidden;
        white-space: nowrap;

=======
        overflow: hidden;
        white-space: nowrap;
>>>>>>> update grav cms
        position: absolute;
        top: 1rem;
        right: -2rem;
        @include transform(rotate(45deg));

<<<<<<< HEAD

        a {
            color: $info-fg;
=======
        a {
>>>>>>> update grav cms
            display: block;
            font-weight: bold;
            font-size: 0.9rem;
            padding: 5px 40px;
            text-align: center;
        }
    }

    .themes {
        padding: $padding-default;

        .gpm-name {
            margin-bottom: 0.5rem;
        }

        .gpm-actions {
<<<<<<< HEAD

            background: darken($content-bg, 2%);
=======
>>>>>>> update grav cms
            margin: 1rem -1rem -1rem -1rem;
            height: 4rem;
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
        }

        .active-theme .gpm-actions, &.inactive-theme .gpm-actions {
            line-height: 2rem;
        }

<<<<<<< HEAD
        .active-theme {
            border: 1px solid $secondary-accent-bg;
            .gpm-actions {
                background: $secondary-accent-bg;
                color: $content-bg;
            }
        }

        .inactive-theme .gpm-actions {
            display: block;
            color: darken($content-bg, 30%);
            font-weight: normal;
        }
    }
=======
        .inactive-theme .gpm-actions {
            display: block;
            font-weight: normal;
        }
    }

    #gpm-release-toggle {
        float: right;
        margin-right: 3rem;
    }
>>>>>>> update grav cms
}
