#admin-login {
    @extend %vertical-align;
<<<<<<< HEAD
    background: $accent-bg;
=======
>>>>>>> update grav cms
    max-width: 24rem;
    margin: 0 auto;

    &.wide {
        max-width: 50rem;

        h1 {
            height: 100px;
        }

        form {
            > .padding {
                padding: 3rem 2rem 8rem 2rem;
                > div {
<<<<<<< HEAD
                    width: 50%;
                    display: inline-block;
                    margin-right: -2px;
=======
                    width: 49%;
                    display: inline-block;
>>>>>>> update grav cms

                    @include breakpoint(mobile-only) {
                        width: 100%;
                        margin-right: 0;
                    }
                }

                .form-field {
                    padding: 0 1rem;
                }
            }

            label {
                padding: 0;
            }

            input {
                margin-bottom: 1rem;
                text-align: left;

                @include placeholder {
<<<<<<< HEAD
                    color: tint($page-bg,40%);
=======
>>>>>>> update grav cms
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }

        }

        .grid {
            display: block;
        }

        .form-label, .form-data {
            display: block;
            width: 100%;
            @include flex(1);
        }
    }

    .form-field {
        padding-left: 0;
        margin-bottom: 0;
    }

    .form-label {
        display: none;
    }

    .form-data {
        padding-right: 0;
    }

    .wrapper-spacer {
        width: 100% !important;
        display: block !important;
        padding: 0 1rem;
        h3 {
            padding-left: 1rem;
<<<<<<< HEAD
            color: rgba(white, 0.4);
            border-bottom: 3px solid rgba(white, 0.1);
=======
>>>>>>> update grav cms
        }
    }

    .instructions {
        display: block;
        padding: 2rem 3rem 0;
        margin: 0;
        font-size: 1.3rem;
<<<<<<< HEAD
        color: rgba(white,0.8);
=======
>>>>>>> update grav cms
        p {
            margin: 0;
        }
    }

    h1 {
<<<<<<< HEAD
        background: $darker-accent-bg url(../images/logo.png) 50% 50% no-repeat;
=======
>>>>>>> update grav cms
        font-size: 0;
        color: transparent;
        height: 216px;
        margin: 0;
    }

    form {
        position: relative;

        .padding {
            padding: 3rem 3rem 6rem 3rem;
        }

        input {
            margin-bottom: 2rem;
<<<<<<< HEAD
            background: $page-bg;
            color: $core-text;
=======
>>>>>>> update grav cms
            font-size: 1.4rem;
            line-height: 1.5;
            text-align: center;
            font-weight: 300;
            -webkit-font-smoothing: auto;
<<<<<<< HEAD
            border: 1px solid shade($accent-bg, 20%);
            @include placeholder {
                color: tint($page-bg,40%);
            }
=======
>>>>>>> update grav cms
        }

        .form-actions {
            display: block !important;
            width: 100% !important;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1.5rem 3rem;

            button:first-child {
                margin-right: 1rem;
            }
        }
    }

    .alert {
        text-align: center;
        padding: 1rem 3rem;
    }
}
