.pages-list {
    list-style: none;
    margin: 0;
    padding: 0;

<<<<<<< HEAD
    border-top: 1px solid darken($content-bg, 5%);

=======
>>>>>>> update grav cms
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;

    }

    .row {
        @include transition(all 0.2s ease);
<<<<<<< HEAD
        border-bottom: 1px solid darken($content-bg, 5%);
        line-height: 2.5rem;
        padding-right: 3rem;

        &:hover {
            background: lighten($content-bg,2%);
=======
        line-height: 2.5rem;
        padding-right: 3rem;

        @include breakpoint(mobile-only) {
            padding-right: 1rem;
        }
        [data-hint]:after {
            line-height: 1 !important;
            width: auto !important;
            white-space: nowrap !important;
>>>>>>> update grav cms
        }

        p.page-route {
            display: block;
            margin: -10px 0 5px 25px;
            line-height: 1;
            font-size: 0.9rem;
<<<<<<< HEAD
            color: darken($content-bg,40%);
            text-shadow: 1px 1px 0 $white;

            .spacer {
                color: darken($content-bg,10%);
=======

            .spacer {
>>>>>>> update grav cms
                display: inline-block;
                margin: 0 0.3rem;
            }
        }

        // fix for hint alignment
        .hint--bottom:before, .hint--bottom:after {
            left: 4px;
        }
        .hint:after, [data-hint]:after {
            border-radius: 2px;
        }

        .badge.lang {
<<<<<<< HEAD
            background-color: #aaa;
            color: white;
            margin-left: 8px;
        }

        .badge.lang.info {
            background-color: $info-bg;
        }
=======
            margin-left: 8px;
        }
>>>>>>> update grav cms
    }

    .page-tools {
        display: inline-block;
        float: right;
        font-size: 1.4rem;
        i {
            margin-left: 10px;
        }
    }

    .page-home {
        font-size: 1.4rem;
        margin-left: 10px;
<<<<<<< HEAD
        color: darken($content-bg, 20%);
=======
>>>>>>> update grav cms
        vertical-align: middle;
    }

    .page-info {
        font-size: 1.1rem;
        margin-left: 10px;
<<<<<<< HEAD
        color: darken($content-bg, 20%);
=======
>>>>>>> update grav cms
        vertical-align: middle;
    }

    .page-icon {

        color: #0082BA;
        font-weight: 700;

        &.children-open:before {
            content: '\f056';
        }

        &.children-closed:before{
            content: '\f055';
        }

        &.not-routable {
            color: #CE431D;
        }

        &.not-visible {
            color: #999;
        }

        &.modular {
            color: #9055AF;
        }
<<<<<<< HEAD


=======
    }

    #pages-legend {
        margin-top: 1.5rem;
        text-align: center;

        h2, ul, li {
            display: inline-block;
        }

        li {
            margin-right: 0.75rem;
        }
>>>>>>> update grav cms
    }
}

#page-filtering {
<<<<<<< HEAD
    margin: -2rem $padding-default 1rem;
    @include clearfix;

=======
    margin: 0 $padding-default 1rem;
    @include clearfix;

    @include breakpoint(mobile-only) {
        margin: -3rem 1rem 1rem;
    }

>>>>>>> update grav cms
    .page-filters {
        width: 60%;
        float: left;

        @include breakpoint(mobile-only) {
            width: 100%;
        }

    }

    .page-search {
        position: relative;
        width: 40%;
        float: left;
        padding-left: 2rem;
        text-indent: 2.5rem;
        &:after {
            position: absolute;
            right: 15px;
            top: 10px;
            content: '\f002';
            font-family: 'FontAwesome';
        }

        @include breakpoint(mobile-only) {
            width: 100%;
            padding-top: 1rem;
            padding-left: 0rem;

            &:after {
                top: 1.5rem;
            }
        }
    }

    .page-shortcuts {
        @include clearfix;
        clear: both;
        padding-top:5px;

        .button {
            @include button-color(#aaa);
        }
    }

    .selectize-control.multi .selectize-input {

        padding: ($leading-margin / 4) ($leading-margin / 4);

        &.has-items {
            padding-top: 6px;
            padding-bottom: 4px;
        }

        input {
            font-size: $core-font-size;
            line-height: $core-line-height;
        }


<<<<<<< HEAD
        > div, > div.active {
            color: #777;
=======
        .item, .item.active {
            color: #777;
            background: #eee;

>>>>>>> update grav cms
            padding: 2px 10px;
            &[data-value='Routable'] {
                background: #CE431D;
                color: $white;
            }
            &[data-value='NonRoutable'] {
                color: #CE431D;
            }
            &[data-value='Visible'] {
<<<<<<< HEAD
                background: #71B15E;
                color: $white;
            }
            &[data-value='NonVisible'] {
                color: #71B15E;
=======
                background: #0082BA;
                color: $white;
            }
            &[data-value='NonVisible'] {
                color: #0082BA;
>>>>>>> update grav cms
            }
            &[data-value='Modular'] {
                background: #9055AF;
                color: $white;
            }
            &[data-value='NonModular'] {
                color: #9055AF;
            }
            &[data-value='Published'] {
                background: #0093B8;
                color: $white;
            }
            &[data-value='NonPublished'] {
                color: #0093B8;
            }
        }

    }
}

.admin-form-wrapper {
    position: relative;
}

#admin-topbar {
    position: absolute;
    right: 0.5rem;
    height: 3.5rem;

    @include breakpoint(mobile-only) {
        width: 100%;
        right: 0;
        top: .25rem;
        padding: 0 .5rem;
    }

    #admin-mode-toggle, #admin-lang-toggle {
        @extend %vertical-align;
        height: 37px;
        display: inline-block;
        vertical-align: inherit;

        @include breakpoint(mobile-only) {
        }
    }

    #admin-lang-toggle {
        z-index:10;
<<<<<<< HEAD
        button {
            @include button-color(shade($info-bg, 20%));
        }
        .dropdown-menu {
            background: $info-bg;
            button {

                background: transparent;
                color: $white;
=======
        float: left;
        margin-right: 5px;

        .dropdown-menu {
            button {
>>>>>>> update grav cms
                width: 100%;
            }
        }
    }

    .switch-grav {
<<<<<<< HEAD

        border: 0;
        background-color: lighten($accent-bg,10%);
    }

    .switch-toggle {

        @include breakpoint(mobile-only) {
            width: 100%;
        }

        input:checked + label {
            color: $white;
        }

        input + label {
            color: lighten($accent-bg,65%);
        }

        input.highlight:checked {
            ~ a {
                background: lighten($tertiary-accent-bg,10%);
            }
        }
    }


}

body .selectize-dropdown .optgroup-header {
    color: $black;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
=======
        border: 0;
    }

    .switch-toggle {
        @include breakpoint(mobile-only) {
            width: 100%;
        }
    }
>>>>>>> update grav cms
}

@for $i from 0 to 10 {
    .depth-#{$i} .row {
        padding-left: 3rem * ($i + 1);
    }
<<<<<<< HEAD
=======

    @include breakpoint(mobile-only) {
        .depth-#{$i} .row {
            padding-left: 1rem * ($i + 1);
        }
    }
>>>>>>> update grav cms
}

.hidden {
    display: none!important;
}

.switch-toggle input[type="radio"] {
    display: none!important;
}
