table,
tbody,
thead {
    display: inline-block;
    width: 100%;
}

.gpm-details {
    width: 100%;
    @include flex(auto);
}

td {
    border: 0;
<<<<<<< HEAD
    border-bottom: 1px solid darken($content-bg, 5%);
=======
>>>>>>> update grav cms
}

tr {
    @include transition(all 0.2s ease);

    @include display(flex);
    @include flex-wrap(wrap);

    th {
        display: block;
        @include flex(1);
        font-weight: bold;

        &:first-child {
            padding-left: $padding-default;
        }

        &:last-child {
            padding-right: $padding-default;
        }
    }

    td {
        display: block;
        @include flex(1);

        &.double {
            @include flex(2);
        }

<<<<<<< HEAD
=======
        &.triple {
            @include flex(3);
        }

        &.quadruple {
            @include flex(4);
        }

        &.quintuple {
            @include flex(5);
        }

        &.sextuple {
            @include flex(6);
        }

        &.septuple {
            @include flex(7);
        }

        &.octuple {
            @include flex(8);
        }

        &.nontuple {
            @include flex(9);
        }

        &.dectuple {
            @include flex(10);
        }

>>>>>>> update grav cms
        &:first-child {
            padding-left: $padding-default;

            @include breakpoint(mobile-only) {
<<<<<<< HEAD
                padding-left: .5rem;

                .plugin-update-button {
                    float: left;
                }
=======
                padding-left: 1rem;
>>>>>>> update grav cms
            }

        }

        &:last-child, &.gpm-actions {
            padding-right: $padding-default;
        }

        &.gpm-actions {
            line-height: 1;
            text-align: right;
            position: relative;

            .gpm-details-expand {
                position: absolute;
                top: 12px;
                right: 12px;
            }
        }

        &.gpm-details {
            margin: 0;
            padding: 0;
<<<<<<< HEAD
            background-color: #f7f7f7;
=======
>>>>>>> update grav cms

            @include breakpoint(mobile-only){
                word-wrap: break-word;
            }

            > .table-wrapper {
                display: none;

                td {
                    border-bottom: 0;
                }
            }

            tbody {
                width: 100%;
            }
        }
    }

    &:last-child {
        td {
            border-bottom: 0;
        }
    }
<<<<<<< HEAD
    &:hover {
        background: lighten($content-bg,2%);
    }
}

//Fixes for Kendo calendar on Firefox
.k-calendar-container {
    table,
    tbody,
    thead {
        width: 100%;
    }

    thead {
        th:first-child {
            padding-left: 0;
        }
        th:last-child {
            padding-right: 0.5rem;
        }
    }
=======
>>>>>>> update grav cms
}
