
$tab-label-height:3.5em;

.tab-bar {
    @include clearfix;
<<<<<<< HEAD


    background: $accent-bg;
=======
>>>>>>> update grav cms
    margin: 0;
    padding: 0;
    list-style: none;

<<<<<<< HEAD
    font-family: $font-family-header;

=======
>>>>>>> update grav cms
    li {

        display: block;
        float: left;
        height: $tab-label-height;
<<<<<<< HEAD
        &.active {
            span, a {
                background: $content-bg;
                color: $content-fg;
            }
        }
=======

>>>>>>> update grav cms
        @include breakpoint(mobile-only) {
            width: 100%;
            span, a {
                width: 100%;
                text-align: center;
            }
        }
    }

    span, a {
        @extend .default-animation;
        display: inline-block;
        padding: 0 4rem;
        line-height: $tab-label-height;
<<<<<<< HEAD
        color: lighten($accent-bg,65%);
        &:hover {
            color: $white;
            background: darken($accent-bg,10%);
        }
=======
>>>>>>> update grav cms
    }
}

/* used for wrapper animation after the load of the page */
@include keyframes(show) {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.form-tabs {
<<<<<<< HEAD

    background: $accent-bg;
    font-family: $font-family-header;
    margin-top: -4rem;
    
=======
    margin-top: -2rem;

>>>>>>> update grav cms
    @include breakpoint(mobile-only){
        padding-top: 4rem;
    }

    > input[type=radio] {
        display:none;
<<<<<<< HEAD

        &:checked{
            + label {
                background: $content-bg;
                color: $content-fg;
            }
        }
    }
    > label {
        @extend .default-animation;

        display:inline-block;
        cursor:pointer;
        color: lighten($accent-bg,65%);

        height: $tab-label-height;

        text-align:center;
        line-height: $tab-label-height;
        padding: 0 2rem;
        
=======
    }
    > label {
        @extend .default-animation;
        display:inline-block;
        cursor: pointer;
        height: $tab-label-height;
        text-align:center;
        line-height: $tab-label-height;
        padding: 0 2rem;

>>>>>>> update grav cms
        @include breakpoint(mobile-only){
            width: 100%;
        }

        &:last-of-type {
            border-bottom:none;
        }
<<<<<<< HEAD

        &:hover {
            color: $white;
            background: lighten($accent-bg,3%);
        }
    }

=======
    }
>>>>>>> update grav cms
}


.tab-body {
    position:absolute;
<<<<<<< HEAD
    top:-9999px;
    opacity:0;
=======
    display: none;
    opacity: 0;
>>>>>>> update grav cms
    width: 100%;
}

.tab-body-wrapper {
    padding-top: $tab-label-height;
<<<<<<< HEAD
    background: $content-bg;

}

#tab1:checked ~ .tab-body-wrapper #tab-body-1,
#tab2:checked ~ .tab-body-wrapper #tab-body-2,
#tab3:checked ~ .tab-body-wrapper #tab-body-3,
#tab4:checked ~ .tab-body-wrapper #tab-body-4,
#tab5:checked ~ .tab-body-wrapper #tab-body-5,
#tab6:checked ~ .tab-body-wrapper #tab-body-6,
#tab7:checked ~ .tab-body-wrapper #tab-body-7,
#tab8:checked ~ .tab-body-wrapper #tab-body-8,
#tab9:checked ~ .tab-body-wrapper #tab-body-9,
#tab10:checked ~ .tab-body-wrapper #tab-body-10 {
    position:relative;
    top:0px;
=======
}

[id^="tab-"][id$="1"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="1"],
[id^="tab-"][id$="2"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="2"],
[id^="tab-"][id$="3"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="3"],
[id^="tab-"][id$="4"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="4"],
[id^="tab-"][id$="5"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="5"],
[id^="tab-"][id$="6"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="6"],
[id^="tab-"][id$="7"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="7"],
[id^="tab-"][id$="8"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="8"],
[id^="tab-"][id$="9"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="9"],
[id^="tab-"][id$="10"]:checked ~ .tab-body-wrapper [id^="tab-body-"][id$="10"] {
    position: relative;
    display: block;
>>>>>>> update grav cms
    opacity: 1;
}
