<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} | {% else %}{% if header.title %}{{ header.title }} | {% endif %}{% endif %}{{ site.title }}</title>
    {% if header.description %}
        <meta name="description" content="{{ header.description }}">
    {% else %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
    {% else %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ base_url_simple }}/{{ theme_url }}/images/favicon.png">

    {% block stylesheets %}
        {% do assets.addCss(theme_url~'/css-compiled/nucleus.css') %}
        {% do assets.addCss(theme_url~'/css-compiled/template.css') %}
        {% do assets.addCss(theme_url~'/css/font-awesome.min.css') %}
        {% do assets.addCss(theme_url~'/css/chartist.min.css') %}
        {% do assets.addCss(theme_url~'/css/selectize.min.css') %}
        {% do assets.addCss(theme_url~'/css/hint.base.min.css') %}
        {% do assets.addCss(theme_url~'/css/datepicker/kendo.common.core.min.css') %}
        {% do assets.addCss(theme_url~'/css/datepicker/kendo.flat.min.css') %}
        {% do assets.addCss(theme_url~'/css/datepicker/grav.overrides.css') %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss(theme_url~'/css/nucleus-ie9.css') %}
            {% do assets.addCss(theme_url~'/css/pure-0.5.0/grids-min.css') %}
        {% endif %}
        {{ assets.css() }}
    {% endblock %}

    {% include 'partials/javascript-config.html.twig' %}
    {% block javascripts %}
        {% do assets.add('jquery',101) %}
        {% do assets.addJs(theme_url~'/js/modernizr.custom.71422.js') %}
        {% do assets.addJs(theme_url~'/js/chartist.min.js') %}
        {% do assets.addJs(theme_url~'/js/selectize.min.js') %}
        {% do assets.addJS(theme_url~'/js/sortable.min.js') %}
        {% do assets.addJs(theme_url~'/js/toastr.min.js') %}
        {% do assets.addJs(theme_url~'/js/jquery.remodal.min.js') %}
        {% do assets.addJs(theme_url~'/js/ajax.js') %}

        {% do assets.addJs(theme_url~'/js/admin-all.js') %}
        {% do assets.addJs(theme_url~'/js/dropdown.js') %}
        {% do assets.addJs(theme_url~'/js/mobile.js') %}

        {% do assets.addJs(theme_url~'/js/datepicker/kendo.custom.min.js') %}
        {% do assets.addJs(theme_url~'/js/datepicker/init.js') %}

        {% do assets.addJs(theme_url~'/js/forms/form.js') %}
        {% do assets.addJs(theme_url~'/js/forms/fields/input.js') %}
        {% do assets.addJs(theme_url~'/js/forms/fields/array.js') %}
        {% do assets.addJs(theme_url~'/js/forms/fields/selectize.js') %}
        {% do assets.addJs(theme_url~'/js/forms/fields/checkboxes.js') %}
        {% do assets.addJs(theme_url~'/js/forms/fields/toggle.js') %}
        {% do assets.addJs(theme_url~'/js/forms.js') %}

        {% if browser.getBrowser == 'msie' or browser.getBrowser == 'edge' %}
            {% do assets.addJs(theme_url~'/js/form-attr.polyfill.js') %}
        {% endif %}

        {{ assets.js() }}
    {% endblock %}
{% endblock %}
</head>
<body {% if not config.plugins.admin.google_fonts %}class="simple-fonts"{% endif %}>
    {% block page %}
    <div class="remodal-bg">

        {% block navigation %}
            {% include 'partials/nav.html.twig' %}
        {% endblock %}

        <section id="admin-main" >
            <div id="titlebar" class="titlebar secondary-accent">
                {% block titlebar %}{% endblock %}
            </div>

            <div class="grav-update" data-gpm-grav>
            </div>

            <div class="content-padding">
                <div>
                    {% block messages %}
                    {% include 'partials/messages.html.twig' %}
                    {% endblock %}
                    {% block content_top %}{% endblock %}
                    <div class="admin-block default-box-shadow">
                        {% block content %}{% endblock %}
                    </div>
                    {% if config.plugins.admin.show_github_msg %}
                    <div class="notice alert"><i class="fa fa-github"></i> <a href="https://github.com/getgrav/grav-plugin-admin/issues" target="_blank">{{ 'PLUGIN_ADMIN.ADMIN_REPORT_ISSUE'|tu }}</a></div>
                    {% endif %}
                    {% block content_bottom %}{% endblock %}
                </div>
                 <footer id="footer">
                    <a href="http://getgrav.org">Grav</a> {{ "PLUGIN_ADMIN.VERSION"|tu|lower }} <span class="grav-version">{{ constant('GRAV_VERSION') }}</span> {{ "PLUGIN_ADMIN.WAS_MADE_WITH"|tu|lower }} <i class="fa fa-heart"></i> {{ "PLUGIN_ADMIN.BY"|tu|lower }} <a href="http://www.rockettheme.com">RocketTheme</a>.
                </footer>
            </div>

        </section>
        <div id='overlay'></div>
    </div>
    {% endblock page %}
</body>
</html>
=======
{% if uri.extension() == 'json' %}{% include 'default.json.twig' %}{% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if title %}{{ title }} | {% else %}{% if header.title %}{{ header.title }} | {% endif %}{% endif %}{{ site.title }}</title>
        {% if header.description %}
            <meta name="description" content="{{ header.description }}">
        {% else %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
            <meta name="robots" content="{{ header.robots }}">
        {% else %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ base_url_simple }}{{ theme_url }}/images/favicon.png">

        {% block stylesheets %}
            {% include 'partials/stylesheets.html.twig' %}
            {{ assets.css()|raw }}
        {% endblock %}

        {% include 'partials/javascript-config.html.twig' %}
        {% block javascripts %}
            {% include 'partials/javascripts.html.twig' %}
            {{ assets.js()|raw }}
        {% endblock %}
    {% endblock %}
    </head>
    {% block body %}
    <body class="{{ config.plugins.admin.sidebar.size == 'small' ? 'sidebar-closed' : '' }} {{ config.plugins.admin.body_classes }}">
        {% block page %}
        <div class="remodal-bg">

            {% block navigation %}
                {% include 'partials/nav.html.twig' %}
            {% endblock %}

            <main id="admin-main" >
                {% include 'partials/nav-toggle.html.twig' %}
                <div id="titlebar" class="titlebar">
                    {% block titlebar %}{% endblock %}
                </div>

                <div class="content-wrapper">
                    <div class="content-padding">
                        {% block messages %}
                            {% include 'partials/messages.html.twig' %}
                        {% endblock %}

                        {% block widgets %}{% endblock %}
                        <div class="default-box-shadow">
                            {% block content_top %}{% endblock %}
                            <div class="admin-block">
                                {%- block content %}{% endblock -%}
                            </div>
                            {% if config.plugins.admin.show_github_msg %}
                            <div class="notice alert"><i class="fa fa-github"></i> <a href="https://github.com/getgrav/grav-plugin-admin/issues" target="_blank">{{ 'PLUGIN_ADMIN.ADMIN_REPORT_ISSUE'|tu }}</a></div>
                            {% endif %}
                            {% block content_bottom %}{% endblock %}
                        </div>
                         <footer id="footer">
                             <a href="http://getgrav.org">Grav</a> v<span class="grav-version">{{ constant('GRAV_VERSION') }}</span> - Admin v{{ admin_version }} - {{ "PLUGIN_ADMIN.WAS_MADE_WITH"|tu|lower }} <i class="fa fa-heart"></i> {{ "PLUGIN_ADMIN.BY"|tu|lower }} <a href="http://www.rockettheme.com">RocketTheme</a>.
                        </footer>
                    </div>
                </div>

                <div class="remodal" data-remodal-id="generic" data-remodal-options="hashTracking: false">
                    <form>
                        <h1>{{ "PLUGIN_ADMIN.ERROR"|tu }}</h1>
                        <div class="error-content"></div>
                        <div class="button-bar">
                            <a class="button remodal-cancel" data-remodal-action="cancel" href="#">{{ "PLUGIN_ADMIN.CLOSE"|tu }}</a>
                        </div>
                    </form>
                </div>
                <div class="remodal" data-remodal-id="delete-media" data-remodal-options="hashTracking: false">
                    <form>
                        <h1>{{ "PLUGIN_ADMIN.MODAL_DELETE_FILE_CONFIRMATION_REQUIRED_TITLE"|tu }}</h1>
                        <p class="bigger">
                            {{ "PLUGIN_ADMIN.MODAL_DELETE_FILE_CONFIRMATION_REQUIRED_DESC"|tu }}
                        </p>
                        <br>
                        <div class="button-bar">
                            <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</button>
                            <button data-remodal-action="confirm" class="button remodal-confirm disable-after-click"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</button>
                        </div>
                    </form>
                </div>

            </main>
            <div id='overlay'></div>
        </div>
        {% endblock page %}
    </body>
    {% endblock body %}
    </html>
{% endif %}
>>>>>>> update grav cms
