{% set form_id = form_id ? form_id : 'blueprints' %}
<<<<<<< HEAD
=======
{% set scope = scope ?: 'data.' %}
>>>>>>> update grav cms

<form id="{{ form_id }}" method="post" data-grav-form="{{ form_id }}" data-grav-keepalive="true">
    {% for field in blueprints.fields %}
        {% if field.type %}
            {% set value = data.value(field.name) %}
            <div class="block block-{{field.type}}">
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
            </div>
        {% endif %}
    {% endfor %}

    <input type="hidden" name="task" value="saveNewFolder" />
    <div class="button-bar">
        <button class="button primary">{{ "PLUGIN_ADMIN.SAVE"|tu }}</button>
    </div>

<<<<<<< HEAD
    {{ nonce_field('admin-form', 'admin-nonce') }}
=======
    {{ nonce_field('admin-form', 'admin-nonce')|raw }}
>>>>>>> update grav cms

</form>
