{% set form_id = form_id ? form_id : 'blueprints' %}
<<<<<<< HEAD

{% set multipart = '' %}
{% for field in blueprints.fields %}
    {% if field.type == 'file' %}
        {% set multipart = ' enctype="multipart/form-data"' %}
    {% endif %}
{% endfor %}

<form id="{{ form_id }}" method="post" data-grav-form="{{ form_id }}" data-grav-keepalive="true"{{ multipart }}>
    {% for field in blueprints.fields %}
        {% if field.type %}
            {% set value = data.value(field.name) %}

=======
{% set scope = scope ?: 'data.' %}

{% if admin.findFormFields('file', blueprints.fields) %}
    {% set multipart = ' enctype="multipart/form-data"' %}
{% endif %}

<form id="{{ form_id }}" method="post" data-grav-form="{{ form_id }}" data-grav-keepalive="true"{{ multipart|raw }}>
    {% for field in blueprints.fields %}
        {% if field.type %}
            {% set value = field.name ? data.value(field.name) : data.toArray %}
>>>>>>> update grav cms
            <div class="block block-{{ field.type }}">
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
            </div>
        {% endif %}
    {% endfor %}

    {% if data.extra %}
    {% for name, value in data.extra %}
        {% if name not in ['_json','task','admin-nonce'] %}
            {% set field = {name: '_json.' ~ name} %}
<<<<<<< HEAD
            {% set value = value|json_encode|e %}
=======
            {% set value = value|raw|json_encode %}
>>>>>>> update grav cms
            {% include 'forms/fields/hidden/hidden.html.twig' %}
        {% endif %}
    {% endfor %}
    {% endif %}

<<<<<<< HEAD
    {{ nonce_field('admin-form', 'admin-nonce') }}
=======
    {{ nonce_field('admin-form', 'admin-nonce')|raw }}
>>>>>>> update grav cms
</form>
