{% if authorize(['admin.pages', 'admin.super']) %}
    <div id="latest">
        <div class="button-bar">
            <a class="button" href="{{ uri.route(true) }}/pages"><i class="fa fa-fw fa-file-text-o"></i>{{ "PLUGIN_ADMIN.MANAGE_PAGES"|tu }}</a>
        </div>
        <h1>{{ "PLUGIN_ADMIN.LATEST_PAGE_UPDATES"|tu }}</h1>
        <table>
        {% for latest in admin.latestPages if admin.latestPages %}
            <tr>
<<<<<<< HEAD
                <td class="double page-title">
                    <a href="{{ base_url }}/pages/{{ latest.route|trim('/') }}"><i class="fa fa-fw fa-file-o"></i> {{ latest.title|e }}</a></td><td class="double page-route">{{ latest.route }}</td><td><b class="last-modified">{{ latest.modified|nicetime }}</b>
                </td>
=======
                <td class="triple page-title">
                    <a href="{{ base_url }}/pages/{{ latest.route|trim('/') }}"><i class="fa fa-fw fa-file-text-o"></i> {{ latest.title|e }}</a></td>
                <td class="triple page-route">{{ latest.route }}</td><td>{{ latest.modified|adminNicetime }}</td>
>>>>>>> update grav cms
            </tr>
        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="padding">You don't have sufficient access to view the dashboard...</div>
<<<<<<< HEAD
{% endif %}
=======
{% endif %}
>>>>>>> update grav cms
