<<<<<<< HEAD
<script type="text/javascript">
    window.GravAdmin = window.GravAdmin || {};
    window.GravAdmin.config = {
        base_url_relative: '{{ base_url_relative }}',
        param_sep: '{{ config.system.param_sep }}',
        enable_auto_updates_check: '{{ config.plugins.admin.enable_auto_updates_check }}',
        admin_timeout: '{{ config.plugins.admin.session.timeout ?: 1800 }}',
        admin_nonce: '{{ admin.getNonce }}',
        pro_enabled: '{{ config.plugins["admin-pro"].enabled }}'
=======
{% if authorize(['admin.login', 'admin.super']) %}
<script type="text/javascript">
    window.GravAdmin = window.GravAdmin || {};
    window.GravAdmin.config = {
        current_url: '{{ uri.route(true) }}',
        base_url_relative: '{{ base_url_relative }}',
        route: '{{ admin.route|trim('/') }}',
        param_sep: '{{ config.system.param_sep }}',
        {% if authorize(['admin.maintenance', 'admin.super']) %}
        enable_auto_updates_check: '{{ config.plugins.admin.enable_auto_updates_check }}',
        {% endif %}
        admin_timeout: '{{ config.plugins.admin.session.timeout ?: 1800 }}',
        admin_nonce: '{{ admin.getNonce }}',
        language: '{{ grav.user.language|default('en') }}',
        pro_enabled: '{{ config.plugins["admin-pro"].enabled }}',
        local_notifications: '{{ config.system.local_notifications|default(false) }}',
        site: {
            delimiter: '{{ config.site.summary.delimiter|default('===') }}'
        }
>>>>>>> update grav cms
    };
    window.GravAdmin.uri_params = {};

    {% for param, value in grav.uri.params(null, true) %}
        window.GravAdmin.uri_params.{{param}} = "{{value|replace({'\\': '/'})}}";
    {% endfor %}
</script>
<<<<<<< HEAD
=======
{% endif %}
>>>>>>> update grav cms
