{% extends 'partials/base.html.twig' %}
<<<<<<< HEAD

{% block page %}
    <section id="admin-login" class="default-glow-shadow {{ classes }}">
=======
{% set scope = scope ?: 'data.' %}
{% block messages %}{% endblock %}

{% block body %}
<body id="admin-login-wrapper">
    <section id="admin-login" class="default-box-shadow {{ classes }}">
>>>>>>> update grav cms
        <h1>
            {{ title }}
        </h1>

        {% include 'partials/messages.html.twig' %}

        {% block instructions %}{% endblock %}

        <form method="post" action="{{ base_url_relative }}">
            <div class="padding">
<<<<<<< HEAD
            {% block form %}{% endblock %}

            {{ nonce_field('admin-form', 'admin-nonce') }}
            </div>
        </form>
    </section>
{% endblock %}
=======
                {% block form %}{% endblock %}
                <input type="hidden" name="redirect" value="{{ uri.url }}" />
                {{ nonce_field('admin-form', 'admin-nonce')|raw }}
            </div>
        </form>
    </section>
</body>
{% endblock %}
>>>>>>> update grav cms
