<<<<<<< HEAD
{% set form_id = form_id ? form_id : 'blueprints' %}
=======
{% set form_id = form_id ? form_id : 'page-move' %}
{% set scope = scope ?: 'data.' %}
>>>>>>> update grav cms

<form id="{{ form_id }}" method="post" data-grav-form="{{ form_id }}" data-page-move>
    {% for field in blueprints.fields %}
        {% if field.type %}
            {% set value = data.value(field.name) %}
            <div class="block block-{{field.type}}">
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
            </div>
        {% endif %}
    {% endfor %}

<<<<<<< HEAD
    <div class="button-bar">
        <a class="button secondary remodal-cancel" href="#"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</a>
        <button class="button primary" name="task" value="save" form="blueprints">{{ "PLUGIN_ADMIN.CONTINUE"|tu }}</button>
=======
    {{ nonce_field('admin-form', 'admin-nonce')|raw }}

    <div class="button-bar">
        <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</button>
        <button class="button primary" name="task" value="save">{{ "PLUGIN_ADMIN.CONTINUE"|tu }}</button>
>>>>>>> update grav cms
    </div>
</form>
