<table>
    {% if plugin.author %}
    <tr>
        <td>{{ "PLUGIN_ADMIN.AUTHOR"|tu }}:</td>
<<<<<<< HEAD
        <td>
=======
        <td class="double">
>>>>>>> update grav cms
            {% if plugin.author.url %}
                <a href="{{ plugin.author.url }}" target="_blank">{{ plugin.author.name }}</a>
            {% else %}
                {{ plugin.author.name }}
            {% endif %}
            {% if plugin.author.email %}
                - <a href="mailto:{{ plugin.author.email }}">{{ plugin.author.email }}</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if plugin.homepage %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.HOMEPAGE"|tu }}:</td>
<<<<<<< HEAD
            <td><a href="{{ plugin.homepage }}" target="_blank">{{ plugin.homepage }}</a></td>
=======
            <td class="double"><a href="{{ plugin.homepage }}" target="_blank">{{ plugin.homepage }}</a></td>
>>>>>>> update grav cms
        </tr>
    {% endif %}
    {% if plugin.demo %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.DEMO"|tu }}:</td>
<<<<<<< HEAD
            <td><a href="{{ plugin.demo }}" target="_blank">{{ plugin.demo }}</a></td>
=======
            <td class="double"><a href="{{ plugin.demo }}" target="_blank">{{ plugin.demo }}</a></td>
>>>>>>> update grav cms
        </tr>
    {% endif %}
    {% if plugin.bugs %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.BUG_TRACKER"|tu }}:</td>
<<<<<<< HEAD
            <td><a href="{{ plugin.bugs }}" target="_blank">{{ plugin.bugs }}</a></td>
=======
            <td class="double"><a href="{{ plugin.bugs }}" target="_blank">{{ plugin.bugs }}</a></td>
>>>>>>> update grav cms
        </tr>
    {% endif %}
    {% if plugin.keywords %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.KEYWORDS"|tu }}:</td>
<<<<<<< HEAD
            <td>{{ plugin.keywords|join(', ') }}</td>
=======
            <td class="double">{{ plugin.keywords|join(', ') }}</td>
>>>>>>> update grav cms
        </tr>
    {% endif %}
    {% if plugin.license %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.LICENSE"|tu }}:</td>
<<<<<<< HEAD
            <td>{{ plugin.license }}</td>
=======
            <td class="double">{{ plugin.license }}</td>
>>>>>>> update grav cms
        </tr>
    {% endif %}

    {% if plugin.description %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.DESCRIPTION"|tu }}:</td>
<<<<<<< HEAD
            <td>{{ plugin.description_html }}</td>
=======
            <td class="double">{{ plugin.description_html|raw }}</td>
>>>>>>> update grav cms
        </tr>
    {% endif %}

    {% if plugin.readme or plugin.homepage %}
        {% set readme_link = plugin.readme ?: plugin.docs|default(plugin.homepage ~ '/blob/master/README.md') %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.README"|tu }}:</td>
<<<<<<< HEAD
            <td><a href="{{ readme_link }}" target="_blank">{{ readme_link }}</a></td>
=======
            <td class="double"><a href="{{ readme_link }}" target="_blank">{{ readme_link }}</a></td>
>>>>>>> update grav cms
        </tr>
    {% endif %}

</table>
