{% extends 'partials/base.html.twig' %}
<<<<<<< HEAD
=======
{% set scope = scope ?: 'data.' %}
>>>>>>> update grav cms

{% block page %}
    <section id="admin-login" class="default-glow-shadow {{ classes }}">
        <h1>
            {{ title }}
        </h1>

        {% include 'partials/messages.html.twig' %}

        {% block instructions %}{% endblock %}

        <form method="post" action="{{ base_url_relative }}">
            <div class="padding">
            {% block form %}{% endblock %}

<<<<<<< HEAD
            {{ nonce_field('form', 'form-nonce') }}
=======
            {{ nonce_field('form', 'form-nonce')|raw }}
>>>>>>> update grav cms
            </div>
        </form>
    </section>
{% endblock %}