{% set gpm = admin.gpm() %}
{% set installed = gpm.isThemeInstalled(admin.route) %}
<<<<<<< HEAD

<div class="grav-update theme" data-gpm-theme="{{ admin.route }}">
    {% if installed and gpm.isThemeUpdatable(admin.route) %}
    {% set remote = gpm.getRepositoryTheme(admin.route) %}
        <p>
            <i class="fa fa-bullhorn"></i>
            <strong>v{{ remote.available }}</strong> {{ "PLUGIN_ADMIN.OF_THIS_THEME_IS_NOW_AVAILABLE"|tu }}!
            <a class="button button-small secondary" href="{{ uri.addNonce(base_url ~ '/themes/' ~ theme.slug ~ '/task' ~ config.system.param_sep ~ 'update', 'admin-nonce', 'admin-nonce') }}">{{ "PLUGIN_ADMIN.UPDATE_THEME"|tu }}</a>
        </p>
    {% endif %}
=======
{% set isTestingRelease = gpm.isTestingRelease(plugin.slug) %}

<div class="grav-update theme" data-gpm-theme="{{ admin.route }}">
>>>>>>> update grav cms
</div>

<h1>
    {{ theme.name|e }}
    {% if admin.isTeamGrav(theme) %}
        <small><span class="info-reverse"><i class="fa fa-check-circle" title="Grav Official Theme"></i></span></small>
    {% endif %}
<<<<<<< HEAD
=======
    {% if admin.isPremiumProduct(theme) %}
        <small><span class="badge warning premium"><i class="fa fa-star-o"></i> {{ "PLUGIN_ADMIN.PREMIUM_PRODUCT"|tu }}</span></small>
    {% endif %}
>>>>>>> update grav cms
    {% if theme.symlink %}
    <small class="hint--bottom"  data-hint="{{ "PLUGIN_ADMIN.THEME_SYMBOLICALLY_LINKED"|tu }}">
        <i class="fa fa-fw fa-link"></i>
    </small>
    {% endif %}
    <small>{{ theme.version ? 'v' ~ theme.version|e }}</small>
<<<<<<< HEAD
=======
    {% if isTestingRelease %}<span class="gpm-testing">test release</span>{% endif %}
>>>>>>> update grav cms
</h1>
<div class="gpm-item-info">
    <i class="gpm-item-icon fa fa-fw fa-{{  theme.icon }}"></i>
    <table>
        {% if theme.version %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.VERSION"|tu }}:</td>
<<<<<<< HEAD
            <td>{{ theme.version }}</td>
=======
            <td class="double">{{ theme.version }}</td>
>>>>>>> update grav cms
        </tr>
        {% endif %}
        {% if theme.author %}
            <tr>
                <td>{{ "PLUGIN_ADMIN.AUTHOR"|tu }}:</td>
<<<<<<< HEAD
                <td>
=======
                <td class="double">
>>>>>>> update grav cms
                    {% if theme.author.url %}
                        <a href="{{ theme.author.url }}" target="_blank">{{ theme.author.name }}</a>
                    {% else %}
                        {{ theme.author.name }}
                    {% endif %}
                    {% if theme.author.email %}
                         - <a href="mailto:{{ theme.author.email }}">{{ theme.author.email }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if theme.homepage %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.HOMEPAGE"|tu }}:</td>
<<<<<<< HEAD
            <td><a href="{{ theme.homepage }}" target="_blank">{{ theme.homepage }}</a></td>
=======
            <td class="double"><a href="{{ theme.homepage }}" target="_blank">{{ theme.homepage }}</a></td>
>>>>>>> update grav cms
        </tr>
        {% endif %}
        {% if theme.demo %}
        <tr>
            <td>{{ "PLUGIN_ADMIN.DEMO"|tu }}:</td>
<<<<<<< HEAD
            <td><a href="{{ theme.demo }}" target="_blank">{{ theme.demo }}</a></td>
=======
            <td class="double"><a href="{{ theme.demo }}" target="_blank">{{ theme.demo }}</a></td>
>>>>>>> update grav cms
        </tr>
        {% endif %}
        {% if theme.bugs %}
            <tr>
                <td>{{ "PLUGIN_ADMIN.BUG_TRACKER"|tu }}:</td>
<<<<<<< HEAD
                <td><a href="{{ theme.bugs }}" target="_blank">{{ theme.bugs }}</a></td>
=======
                <td class="double"><a href="{{ theme.bugs }}" target="_blank">{{ theme.bugs }}</a></td>
>>>>>>> update grav cms
            </tr>
        {% endif %}
        {% if theme.keywords %}
            <tr>
                <td>{{ "PLUGIN_ADMIN.KEYWORDS"|tu }}:</td>
<<<<<<< HEAD
                <td>{{ theme.keywords }}</td>
=======
                <td class="double">
                   {{ theme.keywords|join(', ') }}
                </td>
>>>>>>> update grav cms
            </tr>
        {% endif %}
        {% if theme.license %}
            <tr>
                <td>{{ "PLUGIN_ADMIN.LICENSE"|tu }}:</td>
<<<<<<< HEAD
                <td>{{ theme.license }}</td>
=======
                <td class="double">{{ theme.license }}</td>
>>>>>>> update grav cms
            </tr>
        {% endif %}
        {% if theme.description %}
            <tr>
                <td>{{ "PLUGIN_ADMIN.DESCRIPTION"|tu }}:</td>
<<<<<<< HEAD
                <td>{{ theme.description_html }}</td>
=======
                <td class="double">{{ theme.description_html|raw }}</td>
>>>>>>> update grav cms
            </tr>
        {% endif %}

        {% if theme.readme or theme.homepage %}
            {% set readme_link = theme.readme ?: theme.homepage ~ '/blob/master/README.md' %}
            <tr>
                <td>{{ "PLUGIN_ADMIN.README"|tu }}:</td>
<<<<<<< HEAD
                <td><a href="{{ readme_link }}" target="_blank">{{ readme_link }}</a></td>
=======
                <td class="double"><a href="{{ readme_link }}" target="_blank">{{ readme_link }}</a></td>
>>>>>>> update grav cms
            </tr>
        {% endif %}
    </table>
</div>

{% if (installed) %}
    {% set data = admin.data('themes/' ~ admin.route) %}
    {% include 'partials/blueprints.html.twig' with { data: data, blueprints: data.blueprints } %}

    {% if (config.get('system.pages.theme') != admin.route) %}
    <div class="button-bar danger">
        <span class="danger-zone"></span>
<<<<<<< HEAD
        <a class="button" href="{{ uri.addNonce(base_url_relative ~ '/themes/' ~ theme.slug ~ '/task' ~ config.system.param_sep ~ 'uninstall', 'admin-form', 'admin-nonce') }}"><i class="fa fa-fw fa-warning"></i>{{ "PLUGIN_ADMIN.REMOVE_THEME"|tu }}</a>
=======
        <a class="button" href="#" data-remodal-target="remove-package"><i class="fa fa-fw fa-warning"></i> {{ "PLUGIN_ADMIN.REMOVE_THEME"|tu }}</a>
>>>>>>> update grav cms
    </div>
    {% endif %}
{% else %}
    <div class="button-bar success">
<<<<<<< HEAD
        <a class="button" href="{{ uri.addNonce(base_url_relative ~ '/themes/' ~ theme.slug ~ '/task' ~ config.system.param_sep ~ 'install', 'admin-form', 'admin-nonce') }}"><i class="fa fa-fw fa-plus"></i>{{ "PLUGIN_ADMIN.INSTALL_THEME"|tu }}</a>
    </div>
{% endif %}




=======
        <a class="button" href="#" data-remodal-target="add-package" data-packages-slugs="{{ theme.slug }}" data-theme-action="start-package-installation"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.INSTALL_THEME"|tu }}</a>
    </div>
{% endif %}

{% include 'partials/modal-changes-detected.html.twig' %}
{% include 'partials/modal-remove-package.html.twig' with { type: 'theme', package: theme } %}
{% include 'partials/modal-add-package.html.twig' with { type: 'theme' } %}
{% include 'partials/modal-update-packages.html.twig' with { type: 'theme' } %}
>>>>>>> update grav cms
