{% extends 'partials/base.html.twig' %}

<<<<<<< HEAD
=======
{% block messages %}{% endblock %}

>>>>>>> update grav cms
{% block content %}
    <div class="admin-block">
        <h1>
            {{ "PLUGIN_ADMIN.ACCESS_DENIED"|tu }}
        </h1>

        {% include 'partials/messages.html.twig' %}

        <p>{{ admin.user.fullname }}, {{ "PLUGIN_ADMIN.ACCOUNT_NOT_ADMIN"|tu }}. <a href="{{ uri.addNonce(base_url_relative ~ '/task' ~ config.system.param_sep ~ 'logout', 'logout-form', 'logout-nonce') }}">{{ "PLUGIN_ADMIN.LOGOUT"|tu }}</a></p>
    </div>
{% endblock %}

<<<<<<< HEAD

=======
>>>>>>> update grav cms
{% block navigation %}
{% endblock %}
