{% extends 'partials/base.html.twig' %}
<<<<<<< HEAD
=======
{% block messages %}{% endblock %}
>>>>>>> update grav cms

{% block content %}
    <div class="admin-block">
        <h1>
            {{ "PLUGIN_ADMIN.INSTALLER"|tu }}
        </h1>

        {% include 'partials/messages.html.twig' %}
    </div>
{% endblock %}

