<span class="login-status">
    {% if grav.user.username %}
<<<<<<< HEAD
        Welcome <strong>{{ grav.user.username }}</strong>, <a class="logout" href="{{ uri.addNonce(uri.url ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce') }}">Logout</a>
=======
        {{ 'PLUGIN_LOGIN.WELCOME'|t }} <strong>{{ grav.user.fullname ?: grav.user.username }}</strong>, <a class="logout" href="{{ uri.addNonce((base_url_relative ~ uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce') }}">{{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}</a>
>>>>>>> update grav cms
    {% endif %}
</span>
