<<<<<<< HEAD
{% set icons = {'Microsoft': 'windows'} %}

<section id="grav-login">
    {{ content }}

    {% include 'partials/messages.html.twig' %}

    <form method="post" action="{{ uri.url ~ page.header.form.action}}">
        {% if oauth.enabled %}
            <div class="form-oauth button-group">
                {# Create hidden duplicate of submit button to designate it as default #}
                <input type="submit" name="task" value="login.login" tabindex="-1" />

                {# Show OAuth authentication providers #}
                <p>{{ 'PLUGIN_LOGIN.OAUTH_CONNECT_MESSAGE'|t }}
                {% if oauth.providers|count > 4 %}
                    {{ 'PLUGIN_LOGIN.OR'|t }} <label for="oauth-input">{{ 'PLUGIN_LOGIN.OAUTH_CONNECT_MESSAGE_EXTRA'|t }}</label></p>
                    <input type="checkbox" id="oauth-input" />
                    <ul class="oauth-provider-extra">
                        {% for provider,credentials in oauth.providers[4:] %}
                            {% set icon = icons[provider]|default(provider|lower) %}
                            <li><button name="oauth" value="{{ provider }}" type="submit" class="button {{ provider|lower }}" href="{{ base_url_relative }}/login/oauth{{ config.system.param_sep }}{{ provider }}" title="{{ 'PLUGIN_LOGIN.OAUTH_LOGIN'|t(provider|ucwords) }}"><i class="fa fa-{{ icon }}"></i> {{ provider|ucwords }}</button></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    </p>
                {% endif %}

                <ul class="oauth-provider">
                    {% for provider,credentials in oauth.providers[:4] %}
                        {% set icon = icons[provider]|default(provider|lower) %}
                        <li><button name="oauth" value="{{ provider }}" type="submit" class="button {{ provider|lower }}" href="{{ base_url_relative }}/login/oauth{{ config.system.param_sep }}{{ provider }}" title="{{ 'PLUGIN_LOGIN.OAUTH_LOGIN'|t(provider|ucwords) }}"><i class="fa fa-{{ icon }}"></i> {{ provider|ucwords }}</button></li>
                    {% endfor %}
                </ul>
            </div>
            <span class="delimiter">{{ 'PLUGIN_LOGIN.OR'|t }}</span>
            <p>{{ 'PLUGIN_LOGIN.OAUTH_SIGNIN'|t }}</p>
        {% endif %}

        {% for field in page.header.form.fields %}
            {% if field.type %}
                <div>
                    {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-actions secondary-accent">
            {% if config.plugins.login.rememberme.enabled %}
                <div class="form-data rememberme" data-grav-default="null" data-grav-disabled="true" data-grav-field="checkbox">
                    <div class="form-input-wrapper">
                        <input type="checkbox" value="1" name="rememberme" id="#rememberme">
                        <label class="inline" for="#rememberme" title="{{ 'PLUGIN_LOGIN.REMEMBER_ME_HELP'|t }}">{{ 'PLUGIN_LOGIN.REMEMBER_ME'|t }}</label>
                    </div>
                </div>
            {% endif %}

            <a class="button secondary" href="{{ base_url_relative }}{{ config.plugins.login.route_forgot }}"><i class="fa fa-exclamation-circle"></i> {{ 'PLUGIN_LOGIN.BTN_FORGOT'|t }}</a>

            <button type="submit" class="button primary" name="task" value="login.login"><i class="fa fa-sign-in"></i> {{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }}</button>
        </div>

        {{ nonce_field('login-form', 'login-form-nonce') }}
    </form>
=======
<section id="grav-login">
    {% include 'partials/messages.html.twig' %}

    {% if page.template == 'login' or show_login_form %}

        {% if grav.user.username %}
            <h4>{{ 'PLUGIN_LOGIN.WELCOME'|t }} <strong>{{ grav.user.fullname ?: grav.user.username }}</strong></h4>
            <hr>
            <a class="button logout" href="{{ uri.addNonce(base_url_relative ~ uri.path ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce') }}">{{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}</a>

        {% else %}
            {{ content|raw }}

            <form method="post" action="{{ base_url_relative ~ uri.path }}">
                {% if grav.twig.plugins_hooked_loginPage %}
                    {% for label in grav.twig.plugins_hooked_loginPage %}
                        {% include label %}
                    {% endfor %}
                {% endif %}

                {% for field in page.header.form.fields %}
                    {% if field.type %}
                        <div>
                            {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-actions secondary-accent">
                    {% if config.plugins.login.rememberme.enabled %}
                        <div class="form-data rememberme" data-grav-default="null" data-grav-disabled="true" data-grav-field="checkbox">
                            <div class="form-input-wrapper">
                                <input type="checkbox" value="1" name="rememberme" id="#rememberme">
                                <label class="inline" for="#rememberme" title="{{ 'PLUGIN_LOGIN.REMEMBER_ME_HELP'|t }}">{{ 'PLUGIN_LOGIN.REMEMBER_ME'|t }}</label>
                            </div>
                        </div>
                    {% endif %}

                    <a class="button secondary" href="{{ base_url_relative }}{{ config.plugins.login.route_forgot }}"><i class="fa fa-exclamation-circle"></i> {{ 'PLUGIN_LOGIN.BTN_FORGOT'|t }}</a>

                    <button type="submit" class="button primary" name="task" value="login.login"><i class="fa fa-sign-in"></i> {{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }}</button>
                </div>

                {{ nonce_field('login-form', 'login-form-nonce')|raw }}
            </form>

        {% endif %}

    {% endif %}

>>>>>>> update grav cms
</section>
