{% for message in grav.messages.fetch %}
<<<<<<< HEAD
<div class="{{ message.scope|e }} alert">{{ message.message }}</div>
=======
<div class="{{ message.scope|e }} alert">{{ message.message|raw }}</div>
>>>>>>> update grav cms
{% endfor %}