<section id="grav-login">
<<<<<<< HEAD
    {{ content }}

    {% include 'partials/messages.html.twig' %}

    <form method="post" action="{{ uri.url ~ page.header.form.action}}">
=======
    {{ content|raw }}

    {% include 'partials/messages.html.twig' %}

    <form method="post" action="{{ base_url_relative ~ uri.path }}">
>>>>>>> update grav cms
        {% for field in page.header.form.fields %}
            {% set value = attribute(grav.twig.twig_vars, field.name) is defined ? attribute(grav.twig.twig_vars, field.name) : null %}

            {% if field.type %}
                <div>
                    {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-actions secondary-accent">
<<<<<<< HEAD
            <button type="submit" class="button primary" name="task" value="login.reset"><i class="fa fa-key"></i> {{ "PLUGIN_ADMIN.LOGIN_BTN_RESET"|t }}</button>
        </div>

        {{ nonce_field('reset-form', 'reset-form-nonce') }}
=======
            <button type="submit" class="button primary" name="task" value="login.reset"><i class="fa fa-key"></i> {{ "PLUGIN_LOGIN.BTN_RESET"|t }}</button>
        </div>

        {{ nonce_field('reset-form', 'reset-form-nonce')|raw }}
>>>>>>> update grav cms
    </form>
</section>


