<<<<<<< HEAD
{% extends "forms/field.html.twig" %}

{% set options = {'': 'No file'} %}
{% set files = admin.page.media.all %}
{% for index, media in files %}
    {% set option = {(index): index} %}
    {% set options = options|merge(option) %}
{% endfor %}

{% block global_attributes %}
    data-grav-selectize="{{ (field.selectize is defined ? field.selectize : {})|json_encode()|e('html_attr') }}"
    data-grav-field="select"
    data-grav-disabled="{{ files is empty ? 'true' : 'false' }}"
    data-grav-default="{{ field.default|json_encode()|e('html_attr') }}"
{% endblock %}

{% block input %}
    {% if theme or plugin %}
        The "pagemediaselect" field cannot be used in Themes or Plugins Blueprints. It's intended to be used for Pages blueprints.
        Use the "file" type instead.
    {% else %}
        <div class="form-select-wrapper {{ field.size }}">
            <select name="{{ (scope ~ field.name)|fieldName ~ (field.multiple ? '[]' : '') }}"
                    {% if field.classes is defined %}class="{{ field.classes }}" {% endif %}
                    {% if field.id is defined %}id="{{ field.id|e }}" {% endif %}
                    {% if field.style is defined %}style="{{ field.style|e }}" {% endif %}
                    {% if field.disabled or files is empty %}disabled="disabled"{% endif %}
                    {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
                    {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
                    {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                    {% if field.multiple in ['on', 'true', 1] %}multiple="multiple"{% endif %}
                    {% if field.form %}form="{{ field.form }}"{% endif %}
            >
                {% for key, text in options %}
                    <option {% if key == value or (field.multiple and text in value) %}selected="selected"{% endif %} value="{{ field.multiple ? text : key }}">{% if grav.twig.twig.filters['tu'] is defined %}{{ text|tu }}{% else %}{{ text|t }}{% endif %}</option>
                {% endfor %}
            </select>
        </div>
        {% if files is empty %}Add files through the page media, or by dropping them in the page folder{% endif %}
    {% endif %}
{% endblock %}
=======
{% extends "forms/fields/filepicker/filepicker.html.twig" %}

>>>>>>> update grav cms
