<<<<<<< HEAD
.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

@media all and (min-width: 75em) {
  .large-desktop-text-left {
    text-align: left !important; }

  .large-desktop-text-right {
    text-align: right !important; }

  .large-desktop-text-center {
    text-align: center !important; }

  .large-desktop-text-justify {
    text-align: justify !important; } }
@media all and (min-width: 60em) and (max-width: 74.938em) {
  .desktop-text-left {
    text-align: left !important; }

  .desktop-text-right {
    text-align: right !important; }

  .desktop-text-center {
    text-align: center !important; }

  .desktop-text-justify {
    text-align: justify !important; } }
@media all and (min-width: 48em) and (max-width: 59.938em) {
  .tablet-text-left {
    text-align: left !important; }

  .tablet-text-right {
    text-align: right !important; }

  .tablet-text-center {
    text-align: center !important; }

  .tablet-text-justify {
    text-align: justify !important; } }
@media all and (min-width: 30.063em) and (max-width: 47.938em) {
  .large-mobile-text-left {
    text-align: left !important; }

  .large-mobile-text-right {
    text-align: right !important; }

  .large-mobile-text-center {
    text-align: center !important; }

  .large-mobile-text-justify {
    text-align: justify !important; } }
@media all and (max-width: 30em) {
  .small-mobile-text-left {
    text-align: left !important; }

  .small-mobile-text-right {
    text-align: right !important; }

  .small-mobile-text-center {
    text-align: center !important; }

  .small-mobile-text-justify {
    text-align: justify !important; } }
@media all and (min-width: 48em) {
  .no-mobile-text-left {
    text-align: left !important; }

  .no-mobile-text-right {
    text-align: right !important; }

  .no-mobile-text-center {
    text-align: center !important; }

  .no-mobile-text-justify {
    text-align: justify !important; } }
@media all and (max-width: 47.938em) {
  .mobile-only-text-left {
    text-align: left !important; }

  .mobile-only-text-right {
    text-align: right !important; }

  .mobile-only-text-center {
    text-align: center !important; }

  .mobile-only-text-justify {
    text-align: justify !important; } }

/*# sourceMappingURL=particles.css.map */
=======
.text-left{text-align:left !important}.text-right{text-align:right !important}.text-center{text-align:center !important}.text-justify{text-align:justify !important}@media all and (min-width: 75em){.large-desktop-text-left{text-align:left !important}.large-desktop-text-right{text-align:right !important}.large-desktop-text-center{text-align:center !important}.large-desktop-text-justify{text-align:justify !important}}@media all and (min-width: 60em) and (max-width: 74.938em){.desktop-text-left{text-align:left !important}.desktop-text-right{text-align:right !important}.desktop-text-center{text-align:center !important}.desktop-text-justify{text-align:justify !important}}@media all and (min-width: 48em) and (max-width: 59.938em){.tablet-text-left{text-align:left !important}.tablet-text-right{text-align:right !important}.tablet-text-center{text-align:center !important}.tablet-text-justify{text-align:justify !important}}@media all and (min-width: 30.063em) and (max-width: 47.938em){.large-mobile-text-left{text-align:left !important}.large-mobile-text-right{text-align:right !important}.large-mobile-text-center{text-align:center !important}.large-mobile-text-justify{text-align:justify !important}}@media all and (max-width: 30em){.small-mobile-text-left{text-align:left !important}.small-mobile-text-right{text-align:right !important}.small-mobile-text-center{text-align:center !important}.small-mobile-text-justify{text-align:justify !important}}@media all and (min-width: 48em){.no-mobile-text-left{text-align:left !important}.no-mobile-text-right{text-align:right !important}.no-mobile-text-center{text-align:center !important}.no-mobile-text-justify{text-align:justify !important}}@media all and (max-width: 47.938em){.mobile-only-text-left{text-align:left !important}.mobile-only-text-right{text-align:right !important}.mobile-only-text-center{text-align:center !important}.mobile-only-text-justify{text-align:justify !important}}

/*# sourceMappingURL=particles.css.map */
>>>>>>> update grav cms
