<<<<<<< HEAD
{% block content %}
    {{ content }}
    {% include "forms/form.html.twig" %}
{% endblock %}
=======
<div class="modular-row form {{ page.header.class }}">
    {{ content|raw }}
    {% include "forms/form.html.twig" %}
</div>
>>>>>>> update grav cms
