#grav-login {
    max-width: 30rem;
    margin: 5rem auto;
    background: #fcfcfc;
    border: 4px solid #eee;
    border-radius: 4px;
    padding: 1rem 3rem 3rem 3rem;
    text-align: center;
}

#grav-login .form-actions {
    text-align: right;
}

#grav-logout {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.alert.info {
    color: #c00;
}

#grav-login p {
    font-size: small;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}
#grav-login .form-actions p {
    margin-bottom: 0;
}
<<<<<<< HEAD
#grav-login .form-oauth .oauth-provider,
#grav-login .form-oauth .oauth-provider-extra {
    list-style: outside none none;
    margin: 0.5rem 0;
    padding: 0;
}
#grav-login .oauth-provider li {
    display: inline-block;
    padding: 0.25rem;
}
#grav-login .oauth-provider .button {
    height: 5rem;
    width: 5rem;
    opacity: 1;
}

#grav-login .form-oauth .button:hover {
  opacity: 0.75;
}

#grav-login .form-oauth button.facebook {
    background-color: #4c699e;
}
#grav-login .form-oauth button.google {
    background-color: #da573b;
}
#grav-login .form-oauth button.twitter {
    background-color: #1daee3;
}
#grav-login .form-oauth button.github {
    background-color: #5c5853;
}
#grav-login .form-oauth button.bitbucket {
    background-color: #205081;
}
#grav-login .form-oauth button.flickr {
    background-color: #400090;
}
#grav-login .form-oauth button.microsoft {
    background-color: #2672ec;
}

#grav-login .form-oauth > input {
    display: none;
}

#grav-login .oauth-provider .button {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    height: 5rem;
    line-height: 8rem;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 5rem;
    color: white;
    border: none;
}

#grav-login .oauth-provider .button i {
    bottom: 0;
    content: " ";
    display: block;
    font-size: 3rem;
    left: 0;
    margin-top: .5rem;
    position: absolute;
    right: 0;
    top: 0;
=======

#grav-login .button {
    vertical-align: middle;
>>>>>>> update grav cms
}

#grav-login .delimiter {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.6rem;
    position: relative;
    text-transform: uppercase;
    margin: 1rem 0;
}

#grav-login .delimiter:after,
#grav-login .delimiter:before {
    background-color: #777777;
    content: "";
    height: 1px;
    position: absolute;
    top: 0.8rem;
    width: 40%;
}
#grav-login .delimiter:before {
    background-image: -moz-linear-gradient(right center , #777777, #ffffff);
    left: 0;
}
#grav-login .delimiter:after {
    background-image: -moz-linear-gradient(left center , #777777, #ffffff);
    right: 0;
}

<<<<<<< HEAD
#grav-login .form-oauth {
    position: relative;
}

#grav-login .oauth-provider-extra {
    background: #eee;
    border: 4px solid #eee;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    right: -9999px;
    top: 1.6rem;

    -webkit-transition: opacity 0.3s ease-in-out 0s, right 0s linear 0.3s;
       -moz-transition: opacity 0.3s ease-in-out 0s, right 0s linear 0.3s;
        -ms-transition: opacity 0.3s ease-in-out 0s, right 0s linear 0.3s;
         -o-transition: opacity 0.3s ease-in-out 0s, right 0s linear 0.3s;
            transition: opacity 0.3s ease-in-out 0s, right 0s linear 0.3s;
}

#grav-login .oauth-provider-extra::before {
    background-color: ;
    border: 1em solid transparent;
    border-bottom-color: #eee;
    bottom: 100%;
    content: " ";
    display: block;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
}

#grav-login .oauth-provider-extra .button {
    border: none;
    border-radius: 0;
    display: inline-block;
    text-align: left;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

#grav-login .oauth-provider-extra i[class~="fa"] {
    display: inline-block;
    font-size: 2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#grav-login .form-oauth label {
    color: #1bb3e9;
    cursor: pointer;
    display: inline;
    font-weight: inherit;
    position: relative;
    z-index: 2;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


#grav-login #oauth-input:checked + .oauth-provider-extra {
    opacity: 1;
    right: 0;

    -webkit-transition: opacity 0.3s ease-in-out 0s;
       -moz-transition: opacity 0.3s ease-in-out 0s;
        -ms-transition: opacity 0.3s ease-in-out 0s;
         -o-transition: opacity 0.3s ease-in-out 0s;
            transition: opacity 0.3s ease-in-out 0s;
}

=======
>>>>>>> update grav cms
#grav-login .rememberme {
    display: inline-block;
    float: left;
    padding: 7px 0;
    vertical-align: middle;
}

#grav-login .rememberme label {
    font-weight: inherit;
    display: inline;
}
